<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Bancos</v-subheader>
            </v-flex>

            <v-flex xs12>
                <alerts ref="Alerts"> </alerts>
                <v-data-table :headers="headers" :items="banks" :items-per-page="10" class="elevation-1" :search="search" >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-text-field v-model="search"
                                append-icon="mdi-magnify"
                                label="Busque cuenta por cualquier parametro"
                                single-line hide-details
                            ></v-text-field>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-btn bottom color="pink" dark fixed right @click="showDialog()" >
                                Nueva Cuenta <v-icon>mdi-bank-plus</v-icon>
                            </v-btn>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                      <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                      </v-icon>
                      <v-icon v-if="item.active ==1" small @click="desactiveBank(item.id)"  >
                        mdi-delete
                      </v-icon>
                      <v-icon v-if="item.active ==0 || item.active ==null" small @click="activeBank(item.id)"  >
                        mdi-check-circle-outline
                      </v-icon>
                      <v-btn @click="deleteItem(item.id)" color="deep-orange" x-small
                        class="ma-1 white--text"
                        > Eliminar
                            <v-icon small right dark>  mdi-close-outline </v-icon>
                        </v-btn>
                    </template>

                </v-data-table>

            </v-flex>
            <v-row class="mx-5">
                <v-dialog v-model="dialog" width="70%">
                  <v-card>
                    <v-card-title class="grey darken-2 white--text" v-text="dialog_title">

                    </v-card-title>
                    <v-card-content>
                      <v-row class="mx-1">
                        <v-col class="align-center justify-space-between" cols="12">
                            <v-text-field type="text" v-model="bank.name" prepend-inner-icon="mdi-bank"
                              placeholder="Nombre del Banco"
                            />
                        </v-col>
                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="text" v-model="bank.account_code" label="Numero de Cuenta"
                            prepend-inner-icon="mdi-account-cash"
                              placeholder="NUMERO DE CUENTA O CODIGO"
                            />
                        </v-col>
                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="text" v-model="bank.account_holder" prepend-inner-icon="mdi-account-box"
                              placeholder="Nombre Completo de Titular cuenta"
                              label="Nombre Completo en Mayusculas"
                            />
                        </v-col>

                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="email" v-model="bank.email"
                              placeholder="Email del Dueño de la Cuenta"
                              label="Email Dueño de Cuenta"
                              prepend-inner-icon="mdi-email-lock"
                            />
                        </v-col>
                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="text" v-model="bank.dni_holder" prepend-inner-icon="mdi-smart-card-outline"
                              placeholder="Dni/Nif/Pasaporte Registrado en el Banco"
                              label="Dni/Nif/Pasaporte Registrado en el Banco"
                            />
                        </v-col>
                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="text" v-model="bank.phone_holder" prepend-inner-icon="mdi-card-account-phone"
                              placeholder="Nro de Telefono registrado en el Banco"
                              label="Nro de Telefono registrado en el Banco"
                            />
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-textarea type="text" prepend-inner-icon="mdi-home-map-marker" placeholder="Dirección Señalada en el Banco"
                          label="Dirección Igual a la registrada en el Banco" v-model="bank.address
                          "></v-textarea>
                        </v-col>
                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="text" v-model="bank.office_num" prepend-inner-icon="mdi-office-building"
                              placeholder="Numero de Oficina"
                              label="Numero de Oficina"
                            />
                        </v-col>
                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="text" v-model="bank.bci"
                              placeholder="Bci\Swift"
                              label="Bci\Swift"
                              prepend-inner-icon="mdi-numeric"
                            />
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field type="text" prepend-icon="mdi-account-card-details-outline" placeholder="Informacion de la cuenta solo para registros" v-model="bank.description"/>
                        </v-col>

                      </v-row>
                    </v-card-content>
                    <v-card-actions>
                      <v-btn  text color="primary"
                        @click="dialog = false" > Cancelar</v-btn>
                      <v-btn :loading="saving" v-if="turn == 1" @click="createBank(bank)" >Guardar</v-btn>
                      <v-btn :loading="updating" v-if="turn == 2" @click="updateBank(bank)" >Actualizar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
        </v-container>
    </v-layout>

</template>

<script>
import fire from '../../helpers/swalfire.js'
export default {
        data() {
            return {
                id:0,
                name:'',
                account_holder:'',
                account_code:'',
                description:'',
                active:0,
                banks: [],
                bank: {},
                dialog:false,
                dialog_title:'',
                search:'',
                turn:0,
                saving: false,
                updating: false,
                headers: [
                    {
                        text:'id',
                        align: 'right',
                        value: 'id',
                        sortable: false
                    },
                    {
                        text:'Banco',
                        align: 'center',
                        value: 'name',
                        sortable: false
                    },
                    {
                        text:'Titular de Cuenta',
                        align: 'center',
                        value: 'account_holder',
                        sortable: false
                    },
                    {
                        text:'N° de Cuenta',
                        align: 'right',
                        value: 'account_code',
                        sortable: false
                    },
                    {
                        text:'Notas de la cuenta',
                        align: 'right',
                        value: 'description',
                        sortable: false
                    },
                    { text: 'Opciones', value: 'actions', sortable: false }
                ],

            }
        },

        methods: {
            index() {
                let me = this;
                me.axios
                    .get('/api/banks')
                    .then(response => {
                        me.banks = response.data.banks;
                        // console.log(me.banks);
                });
            },
            showDialog() {
                let me = this;
                me.bank={};
                me.turn = 1;
                me.id=0;
                me.name='';
                me.account_holder='';
                me.account_code='';
                me.description='';
                me.dialog_title='Guardar Cuenta';
                me.dialog = true;

            },
            createBank() {

                // console.log(this.bank.id);
                this.saving = true
                this.axios
                    .post('/api/banks/store', this.bank)
                    .then(response => {
                        this.index();
                        this.dialog = false;
                        Swal.fire({
                            position:'top-end',
                            type: 'success',
                            title: 'Banco Guardado',
                            timer: 3000
                        });
                    })
                    .catch(error => console.log(error))
                    .finally(() => this.saving = false)

            },
            desactiveBank(id){
                Swal.fire({
                    title: 'Inactivar Cuenta! Seguro?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass:'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        me.axios.post('/api/banks/desactive', {
                            'id': id
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Inactivada!',
                                'éxito!!.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'NO se ha podido inactivar.',
                                'warnig'
                                )
                        });
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                        ){

                    }
                })
            },
            activeBank(id){
                Swal.fire({
                    title: 'Activar la Cuenta?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass:'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        console.log(id);
                        me.axios.post('/api/banks/activate', {
                            'id': id
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Exito!',
                                'La cuenta dada de alta con éxito.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'Cuenta no activada.',
                                'warnig'
                                )
                        });
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                        ){

                    }
                })
            },
            editItem (item) {
                let me = this;
                me.turn = 2;
                me.dialog_title='Actualizar';
                me.bank = me.banks.indexOf(item);
                me.bank = Object.assign({}, item);
                me.dialog = true;
            },
            updateBank() {
                let me =this;
                me.updating = true;
                me.axios
                    .post(`/api/banks/update/${me.bank.id}`, this.bank)
                    .then(response => {
                        me.bank={};
                        me.turn = 1;
                        me.dialog_title='Guardar Cuenta';
                        me.index();
                        me.dialog = false;
                    })
                    .catch(error => console.log(error))
                    .finally(() => me.updating = false)
            },

            deleteItem (id) {
                let me = this;
                const data = {
                    'url':'/api/banks/destroy/'+id,
                    'title' :'Elimiar Banco. ?',
                }
                fire.deleteF(data)
                .then((res)=> {
                    me.index();
                    me.alert(3,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
        },
        mounted() {
            this.index();
        }
    }
</script>
