<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Estado de Cuenta Btc</v-subheader>
            </v-flex>

            <v-flex xs12>
                <alerts ref="Alerts"> </alerts>
                <v-card>
                    <v-card-title v-if="amount" class="h4"
                      v-text="'BTC disponible: '+amount ">
                        <v-icon>mdi-currency-btc mdi-36px</v-icon>
                    </v-card-title>
                    <v-card-title v-else class="h5"
                      v-text="'Agregue Btc Disponible'">
                    </v-card-title>
                    <v-row justify="center" v-if="balance" my-3>
                        <v-dialog
                          v-model="dialog_add"
                          width="auto "
                          :fullscreen="$vuetify.breakpoint.xsOnly"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                class="mr-2"
                                color="primary"
                                dark
                                v-bind="attrs"
                                v-on="on"
                                >
                                Agregar/Disminuir <v-icon>mdi-currency-btc</v-icon>
                                </v-btn>
                            </template>
                            <v-card elevation="7">
                                <v-card-title class="purple">
                                    <h5 class="white--text">Agregar/Disminuir <v-icon>mdi-currency-btc</v-icon></h5>
                                </v-card-title>
                                <v-row>
                                  <v-col cols="12">
                                    <v-text-field type="number"
                                    v-model="add_btc"
                                    placeholder="Agregar BTC"
                                    label="Ingrese decimal ejemplos: 4.88588582"
                                    prepend-inner-icon="mdi-arrow-up-down-bold"
                                    @input="restrictDecimal()"
                                    />
                                  </v-col>
                                  <v-col cols="12">
                                    <v-text-field
                                      type="text"
                                      v-model="notes"
                                      label="Detalles de transaccion"
                                      prepend-inner-icon="mdi-card-text-outline"
                                    ></v-text-field>
                                  </v-col>
                                </v-row>
                                <v-card-actions>
                                    <v-btn color="green white--text" @click="total_add()" >Sumar <v-icon class="mx-1">mdi-plus-box</v-icon></v-btn>
                                    <v-btn color="red white--text" @click="total_sub()" >Restar <v-icon class="mx-1">mdi-minus-box</v-icon></v-btn>
                                </v-card-actions>
                                <v-card-actions>
                                    <h5 class="mx-2"><v-icon>mdi-check-circle-outline</v-icon>Resultado: {{total_btc}}</h5>
                                </v-card-actions>
                                <v-card-actions>
                                    <v-btn color="orange darken-3 white--text+"
                                        @click="dialog_add = false" > Cancelar</v-btn>
                                    <v-btn class="mx-2"
                                    v-if="total_btc" :loading="adding"
                                    color="primary" @click="update()" >Actualizar</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-dialog
                          v-model="dialog_up"
                          width="auto "
                          :fullscreen="$vuetify.breakpoint.xsOnly"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                color="green"
                                dark
                                v-bind="attrs"
                                v-on="on"
                                >
                                Actualizar Total <v-icon>mdi-currency-btc</v-icon>
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title class="green darken-2 white--text" v-text="dialog_title">

                                </v-card-title>
                                <v-row class="mx-2">
                                    <v-col class="align-center justify-space-between" cols="12" md="12">
                                        <span style="color:red;" v-show="!balance.amount ">Ingrese BTC disponible.</span>
                                        <v-text-field type="number" v-model="balance.amount"
                                            placeholder="Monto disponible"
                                            label="Ingrese decimal ejemplos: 4.88588582"
                                            prepend-inner-icon="mdi-brightness-balance"
                                            @input="restrictDecimal2()"
                                        />
                                    </v-col>
                                </v-row>
                                <v-card-actions>
                                    <v-btn  text
                                        @click="dialog_up = false" > Cancelar</v-btn>
                                    <v-btn :loading="saving" color="primary"  v-if="turn == 1" @click="saveB(balance)" >Guardar</v-btn>
                                    <v-btn :loading="saving" color="primary" v-if="turn == 2" @click="updateB(balance)" >Actualizar</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-row>
                </v-card>
                <v-data-table :headers="headers" :search="search" :items="balances"
                  :items-per-page="10" class="elevation-1"
                >
                  <template v-slot:top>
                      <v-text-field
                        v-model="search" append-icon="mdi-magnify"
                        label="Buscar Movimiento"
                        single-line hide-details
                      ></v-text-field>
                  </template>
                  <template v-slot:item.actions="{ item }">
                    <v-btn @click="deleteB(item.id)"
                        color="deep-orange" x-small
                        class="ma-1 white--text"
                    > Eliminar
                        <v-icon small right dark> mdi-close-outline </v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
            </v-flex>

        </v-container>
    </v-layout>

</template>

<script>
export default {
        data() {
            return {
                amount: 0.0,
                add_btc: 0.0,
                total_btc: 0.0,
                balances: [],
                sub: '',
                notes: '',
                balance: {},
                dialog_add:false,
                dialog_up: false,
                search: '',
                dialog_title:'',
                turn:0,
                saving: false,
                updating: false,
                adding: false,
                headers: [
                  {
                    text:'N° Oper.',
                    align: 'left',
                    value: 'id',
                  },
                  {
                    text:'Monto.',
                    align: 'left',
                    value: 'amount',
                  },
                  {
                    text:'Ingresos',
                    align: 'left',
                    value: 'amount_sum_operation',
                  },
                  {
                    text:'Egresos',
                    align: 'left',
                    value: 'amount_minus_operation',
                  },
                  {
                    text:'Notas de Operacion',
                    align: 'left',
                    value: 'notes',
                  },
                  {
                    text:'Fecha y hora',
                    align: 'left',
                    value: 'created_at',
                  },
                  { text: 'Opciones', value: 'actions', sortable: false }
                ]
            }
        },
        computed:{

        },
        methods: {
            index() {
                let me = this;
                axios.get('/api/balances')
                    .then(response => {
                        var res = response.data
                        if (res.last) {
                            me.balance = res.last;
                            me.amount = me.balance.amount;
                            me.balances = res.balances;
                            me.editB();
                        }else {
                            me.createB();
                        }
                    });
            },
            createB() {
                let me = this;
                me.balance={};
                me.turn = 1;
                me.id=0;
                me.dialog_title='Guardar BTC Disponible';

            },
            saveB() {
                let me =this
                me.saving = true
                axios.post('/api/balances/store', me.balance)
                    .then((res) => {
                        me.index();
                        me.alert(1,res.data.message)
                        me.dialog = false;
                    })
                    .catch((error)=>{ me.alert(4,error) })
                    .finally(() => me.saving = false)

            },
            editB () {
                let me = this;
                me.turn = 2;
                me.dialog_title='Actualizar BTC disponible.';
                me.dialog = true;
            },
            updateB() {
                let me =this;
                me.balance._method = 'put';
                me.updating = true;
                axios.post(`/api/balances/modif/${me.balance.id}`, {
                  'amount': parseFloat(me.balance.amount),
                  'notes': me.notes,
                  '_method': 'put'
                  }).then((res) => {
                        me.index();
                        me.notes ='';
                        me.dialog_title='Guardar BTC Disponible';
                        me.alert(1,res.data.message)
                        me.dialog_up = false;
                    });
            },
            update() {
                let me =this;
                me.adding = true;
                axios.post(`/api/balances/add-btc/${me.balance.id}`, {
                  'add_btc': parseFloat(me.add_btc),
                  'notes': me.notes,
                  'sub': this.sub,
                  '_method': 'put'
                  }).then((res) => {
                      me.index();
                      me.notes ='';
                      me.add_btc = 0.0;
                      me.dialog_title='Guardar BTC Disponible';
                      me.alert(1,res.data.message)
                      me.dialog_add = false;
                  })
                  .catch((error)=>{
                      me.alert(4,error)
                  })
                  .finally(() => (me.adding = false))
            },
            editBalance(id){
                let me = this;
                const data = {
                    'url':'/api/balances/destroy/'+id,
                    'title' :'Eliminar Operacion?',
                }
                Sfire.deleteF(data)
                .then((res)=> {
                    me.index();
                    me.alert(3,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            deleteB(id){
                let me = this;
                const data = {
                    'url':'/api/balances/destroy/'+id,
                    'title' :'Eliminar Operacion?',
                }
                Sfire.deleteF(data)
                .then((res)=> {
                    me.index();
                    me.alert(3,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
            restrictDecimal2() {
              this.balance.amount = this.balance.amount.match(/^\d+\.?\d{0,8}/);
            },
            restrictDecimal() {
              this.add_btc=this.add_btc.match(/^\d+\.?\d{0,8}/);
            },
            total_add(){
              var total = parseFloat(this.amount)+parseFloat(this.add_btc);
              this.sub = '+';
              this.total_btc = total.toFixed(8);
            },
            total_sub(){
              var total = parseFloat(this.amount)- parseFloat(this.add_btc);
              this.sub = '-';
              this.total_btc = total.toFixed(8);
            }
        },
        mounted() {
            this.index();
        }
    }
</script>
