<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Lista de Precios Btc</v-subheader>
            </v-flex>

            <v-flex xs12>
                <alerts ref="Alerts"> </alerts>
                <v-data-table :headers="headers" :items="prices" :items-per-page="10" class="elevation-1" >
                    <template >
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Precios Por Fechas</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-btn @click="editItem(item)"
                        color="blue-grey darken-4" x-small
                        class="ma-1 white--text"
                        > Editar
                            <v-icon right small dark>  mdi-pencil </v-icon>
                        </v-btn>
                      <v-icon v-if="item.active ==1" small @click="desactiveBank(item.id)"  >
                        mdi-delete
                      </v-icon>
                      <v-icon v-if="item.active ==0 || item.active ==null" small @click="activeBank(item.id)"  >
                        mdi-check-circle-outline
                      </v-icon>
                    </template>

                </v-data-table>

            </v-flex>

            <v-btn bottom color="pink" dark fab fixed right @click="showDialog()" >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-row class="mx-2">
                <v-dialog v-model="dialog" width="70%">
                  <v-card>
                    <v-card-title class="grey darken-2" v-text="dialog_title">

                    </v-card-title>
                    <v-container>
                      <v-row class="mx-2">
                        <v-col class="align-center justify-space-between" cols="12" md="4">

                            <v-text-field type="number" v-model="price.amount"
                                placeholder="Precio de Btc" prepend-inner-icon="mdi-cash-plus"
                            />
                        </v-col>
                         <v-col class="align-center justify-space-between" cols="12" md="4">
                            <v-text-field type="text" prepend-icon="mdi-account-card-details-outline" placeholder="Notas del Precio" v-model="price.notes"/>
                        </v-col>
                        <v-col class="align-center justify-space-between" cols="12" md="4">
                            <span style="color:red;" v-show="price.currency_id == '' ">Seleccione una Moneda</span>
                            <v-select v-model="price.currency_id" item-value="id"
                            :items="currencies" prepend-icon="mdi-percent"
                            label="Select Moneda (ISO)"
                            >
                                <template slot='selection' slot-scope='{ item }'>
                                    {{ item.name }} {{ item.iso }}
                                </template>
                                <template slot='item' slot-scope='{ item }'>
                                    {{ item.name }} {{ item.iso }}
                                </template>
                            </v-select>
                        </v-col>
                      </v-row>
                    </v-container>
                    <v-card-actions>
                      <v-btn  text color="primary" @click="dialog = false" > Cancelar</v-btn>
                      <v-btn text v-if="turn == 1" @click="createPrice(price)" >Guardar</v-btn>
                      <v-btn text v-if="turn == 2" @click="updatePrice(price)" >Actualizar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
        </v-container>
    </v-layout>

</template>

<script>
// import apis from '../../helpers/bank.js'
import fire from '../../helpers/swalfire.js'
export default {
        data() {
            return {
                id:0,
                amount:'',
                notes:'',
                prices: [],
                currencies: [],
                price: {},
                dialog:false,
                dialog_title:'',
                turn:0,
                saving: false,
                headers: [
                    {
                        text:'id',
                        align: 'center',
                        value: 'id',
                        sortable: true
                    },
                    {
                        text:'Precio',
                        align: 'center',
                        value: 'amount',
                        sortable: true
                    },
                    {
                        text:'Descripcion',
                        align: 'center',
                        value: 'notes',
                        sortable: false
                    },
                    {
                        text: 'Moneda',
                        align: 'center',
                        value: 'currency.iso',
                    },
                    {
                        text:'Fecha',
                        align: 'center',
                        value: 'created_at',
                        sortable: true
                    },
                    { text: 'Opciones', value: 'actions', sortable: false }
                ],

            }
        },

        methods: {
            index() {
                let me = this;
                me.axios
                    .get('/api/prices')
                    .then(response => {
                        var prices2 = response.data.prices;
                        me.prices = prices2.map(function(p) {
                            if (!p.currency) {
                                p.currency= {'iso': 'Editar moneda y asignar ISO'};
                            }
                            return p;
                        });
                });
            },
            showDialog() {
                let me = this;
                me.getCurrency();
                me.price={};
                me.turn = 1;
                me.id=0;
                me.amount='';
                me.notes='';
                me.dialog_title='Guardar Cuenta';
                me.dialog = true;

            },
            getCurrency(){
                let me = this;
                axios.get('/api/currencies')
                    .then(response => {
                        me.currencies = response.data.currencies;
                    })
                    .catch(error => console.log(error) );
            },
            createPrice() {
                this.saving = true
                this.axios
                    .post('/api/price/store', this.price)
                    .then(response => {
                        this.index();
                        this.dialog = false;
                    })
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false,this.saving = false)

            },
            desactiveBank(id){
                Swal.fire({
                    title: 'Inactivar Precio! Seguro?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1565c0',
                    cancelButtonColor: '##0000008a',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass:'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        let me=this;
                        me.axios.post('/api/price/desactive', {
                            'id': id
                        }).then(function (response){

                           me.index();
                            Swal.fire(
                                'Inactivado!',
                                'éxito!!.',
                                'success'
                                )
                        }) .catch(function (error) {
                            console.log(error);
                            Swal.fire(
                                'Fallo!',
                                'NO se ha podido inactivar.',
                                'warnig'
                                )
                        });
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                        ){

                    }
                })
            },
            activeBank(id){
                let me = this;
                const data = {
                    'url':'/api/price/activate'+id,
                    'title' :'Activar precio ?',
                };

                fire.activeF(data)
                .then((res)=>{
                    me.index();
                    me.alert(1,res);
                })
                .catch((error)=>{
                    me.alert(4,error);
                });
            },
            editItem (item) {
                let me = this;
                me.getCurrency();
                me.turn = 2;
                me.dialog_title='Actualizar';
                me.price = item;
                me.dialog = true;
            },
            updatePrice() {
                let me =this;
                const data = {
                    'url':'/api/price/update/'+me.price.id,
                    'title' :'Actualizar?',
                }
                fire.updateF(data, me.price)
                .then((res)=>{
                    me.index();
                    me.dialog = false;
                    me.alert(1,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                });
            },

            deleteItem (item) {
                const index = this.prices.indexOf(item)
                confirm('Are you sure you want to delete this item?') && this.prices.splice(index, 1)
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
        },
        mounted() {
            this.index();
        }
    }
</script>
