<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Lista de Porcentajes Btc</v-subheader>
            </v-flex>

            <v-flex xs12>
                <alerts ref="Alerts"> </alerts>
                <v-data-table :headers="headers" :items="percents" :items-per-page="10" class="elevation-1" >
                    <template >
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Porcentajes Por Fechas</v-toolbar-title>
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                      <v-btn  @click="editItem(item)" x-small bottom color="yellow">
                        Editar <v-icon small ml-2>mdi-pencil </v-icon>
                      </v-btn>

                      <v-btn v-if="item.active ==0 || item.active ==null" m-2 x-small @click="activePercent(item)" bottom color="green" dark>
                        Activar <v-icon ml-2>mdi-check-circle-outline</v-icon>
                      </v-btn>
                      <span v-if="item.active ==1" >
                        Activo para Referencia
                      </span>
                    </template>

                </v-data-table>

            </v-flex>

            <v-btn bottom color="pink" dark fab fixed right @click="showDialog()" >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-row class="mx-2">
                <v-dialog v-model="dialog" width="70%">
                  <v-card>
                    <v-card-title class="grey darken-2" v-text="dialog_title">

                    </v-card-title>
                    <v-container>
                      <v-row class="mx-2">
                        <v-col class="align-center justify-space-between" cols="12">
                          <v-row align="center" class="mr-0">
                            <v-col cols="12" md="4">
                                <v-text-field type="number" v-model="percent.amount"
                                  placeholder="Monto de Porcentaje" label="Ingrese monto decimal ejemplos: 4.5, 3.3 " prepend-inner-icon="mdi-brightness-percent"
                                />
                            </v-col>
                            <v-col class="align-center justify-space-between" cols="12" md="4">
                                <span style="color:red;" v-show="percent.currency_id == '' ">Seleccione una Moneda</span>
                                <v-select v-model="percent.currency_id" item-value="id"
                                :items="currencies" prepend-inner-icon="mdi-percent"
                                label="Select Moneda (ISO)"
                                >
                                    <template slot='selection' slot-scope='{ item }'>
                                        {{ item.name }} {{ item.iso }}
                                    </template>
                                    <template slot='item' slot-scope='{ item }'>
                                        {{ item.name }} {{ item.iso }}
                                    </template>
                                </v-select>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field type="text" prepend-inner-icon="mdi-card-text"
                                 placeholder="Titulo del Porcentaje" v-model="percent.type"
                                 label="Titulo corto, ejemplo: Todos, exclusivo, decuentos"
                                 />
                            </v-col>
                          </v-row>
                        </v-col>

                      </v-row>
                    </v-container>
                    <v-card-actions>
                      <v-btn  text color="primary"
                        @click="dialog = false" > Cancelar</v-btn>
                      <v-btn :loading="saving" v-if="turn == 1" @click="createPercent(percent)" >Guardar</v-btn>
                      <v-btn :loading="saving" v-if="turn == 2" @click="updatePercent(percent)" >Actualizar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
        </v-container>
    </v-layout>

</template>

<script>
// import apis from '../../helpers/bank.js'
import fire from '../../helpers/swalfire.js'
export default {
        data() {
            return {
                id:0,
                amount:'',
                type:'',
                percents: [],
                currencies: [],
                percent: {},
                dialog:false,
                dialog_title:'',
                turn:0,
                saving: false,
                headers: [
                    {
                        text:'id',
                        align: 'center',
                        value: 'id',
                        sortable: true
                    },
                    {
                        text:'Precio',
                        align: 'center',
                        value: 'amount',
                        sortable: true
                    },
                    {
                        text:'Descripcion',
                        align: 'center',
                        value: 'type',
                        sortable: false
                    },
                    {
                        text:'Fecha',
                        align: 'center',
                        value: 'created_at',
                        sortable: true
                    },
                    {
                        text: 'Moneda',
                        align: 'center',
                        value: 'currency.iso',
                    },
                    { text: 'Opciones', value: 'actions', sortable: false }
                ],

            }
        },

        methods: {
            index() {
                let me = this;
                axios.get('/api/percents')
                    .then(response => {
                        me.percents = response.data.percents;
                        var percents2 = response.data.percents;
                        me.percents = percents2.map(function(p) {
                            if (!p.currency) {
                                p.currency= {'iso': 'Editar porcentaje y asignar ISO'};
                            }
                            return p;
                        });
                });
            },
            getCurrency(){
                let me = this;
                axios.get('/api/currencies')
                    .then(response => {
                        me.currencies = response.data.currencies;
                    })
                    .catch(error => console.log(error) );
            },
            showDialog() {
                let me = this;
                me.getCurrency();
                me.percent={};
                me.turn = 1;
                me.id=0;
                me.amount='';
                me.type='';
                me.dialog_title='Guardar Porcentaje';
                me.dialog = true;

            },
            createPercent() {
                let me =this
                me.saving = true
                axios.post('/api/percent/store', me.percent)
                    .then((res) => {
                        me.index();
                        me.alert(1,res.data.message)
                        me.dialog = false;
                    })
                    .catch((error)=>{ me.alert(4,error) })
                    .finally(() => me.saving = false)

            },
            activePercent(item){
                let me = this;
                if (!item.currency_id) {
                    me.alert(4,'Primero asociar Moneda por favor!');
                    return;
                }
                const data = {
                    'url':'/api/percent/activate/'+item.id,
                    'title' :'Activar este Porcentaje para los calculos?',
                }
                Sfire.activeF(data)
                .then((res)=>{
                    me.index();
                    me.alert(1,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            editItem (item) {
                let me = this;
                me.getCurrency();
                me.turn = 2;
                me.dialog_title='Actualizar';
                me.percent = item;
                me.dialog = true;
            },
            updatePercent() {
                let me =this;
                axios.post(`/api/percent/update/${me.percent.id}`, this.percent)
                    .then((res) => {
                        me.index();
                        me.percent={};
                        me.turn = 1;
                        me.dialog_title='Guardar Cuenta';
                        me.alert(1,res.data.message)
                        me.dialog = false;
                    });
            },

            deleteItem (item) {
                const index = this.percent.indexOf(item)
                confirm('Are you sure you want to delete this item?') && this.percent.splice(index, 1)
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            }
        },
        mounted() {
            this.index();
        }
    }
</script>
