<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Historial de Cobros</v-subheader>
            </v-flex>

            <v-flex xs12>
                <alerts ref="Alerts"> </alerts>
                <v-card>
                    <v-data-table :headers="headers" :search="search"
                      :items="sales" class="elevation-1" :loading="loading"
                      :footer-props="footerProps" @update:items-per-page="onPageChange()"
                    >
                        <template v-slot:top>
                            <v-toolbar flat color="white">
                                <v-text-field
                                    v-model="search"
                                    append-icon="mdi-magnify"
                                    label="Busque la Venta por cualquier parametro"
                                    single-line
                                    hide-details
                                ></v-text-field>
                                <v-divider class="mx-5" inset vertical></v-divider>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ attrs, on }">
                                        <v-select v-bind="attrs" v-on="on"
                                          @input="onPageChange" v-model="rows"
                                          :items="limits"
                                          :hint="`${rows.first}, ${rows.last}`"
                                          item-text="first" item-value="last"
                                          mb-5 mr-1 return-object
                                          prepend-inner-icon="mdi-format-list-numbered<"
                                        >
                                        <template slot='item' slot-scope='{ item }'>
                                            Desde {{ item.first }} - Hasta {{ item.last }}
                                        </template>
                                        </v-select>
                                    </template>
                                    <span>Seleccione Cantidad de Regitros</span>
                                </v-tooltip>
                            </v-toolbar>
                        </template>
                        <template v-slot:item.id="{ item }">
                            <v-chip :color="getColor(item.active)" dark>{{ item.id }}</v-chip>
                        </template>
                        <template v-slot:item.operation_method="{item}">
                            <div v-if="item.operation_method == 'transf'">Transferencia</div>
                            <div v-else >Deposito</div>
                        </template>
                        <template v-slot:item.file="{item}">
                            <v-icon v-if="item.file" medium @click="showImage(item)"> mdi-camera </v-icon>
                            <div v-else>Sin archivos</div>
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <v-btn @click="pdfSale(item.id)"
                              color="deep-orange" x-small
                              class="ma-1 white--text"
                            > Factura
                                <v-icon small right dark>  mdi-file-pdf </v-icon>
                            </v-btn>
                            <v-btn :to="{name: 'edit-sale', params: { id: item.id }}"
                              color="blue-grey darken-4" x-small
                              class="ma-1 white--text"
                            > Editar
                                <v-icon right small dark>  mdi-pencil </v-icon>
                            </v-btn>
                            <v-btn v-if="item.active ==1 || item.active ==3"
                              x-small
                              @click="desactiveSale(item.id)"
                              color="blue-grey"
                              class="ma-1 white--text"
                            > Desactivar
                                <v-icon small right dark>  mdi-eye-off-outline </v-icon>
                            </v-btn>
                            <v-btn v-if="item.active ==0 || item.active ==2 || item.active ==3 || item.active ==4"
                              @click="activeSale(item.id)"
                              color="green darken-2" x-small
                              class="ma-1 white--text"
                            > Aprobar
                                <v-icon small right dark>mdi-check-circle-outline</v-icon>
                            </v-btn>
                            <v-btn v-if="item.active ==0 || item.active ==2 || item.active == 4" @click="activeSaleO(item.id)"
                            color="grey darken-2" x-small
                            class="ma-1 white--text"
                            > Aprobar s/revisar
                                <v-icon small right dark>mdi-check-circle-outline</v-icon>
                            </v-btn>
                            <v-btn @click="deleteSale(item.id)"
                                color="black" x-small
                                class="ma-1 white--text"
                                :disabled="item.active== 3 || item.active== 1"
                            > Eliminar
                                <v-icon small right dark> mdi-close-outline </v-icon>
                            </v-btn>
                        </template>
                    </v-data-table>
                </v-card>
            </v-flex>
            <v-row class="mx-2">
                <v-dialog v-model="turn" cols="8">
                  <v-card>
                    <v-card-title class="grey darken-2">
                        Referencia de Pago
                    </v-card-title>
                    <v-container>
                      <v-row class="mx-2">
                        <v-col class="align-center justify-space-between" cols="12">
                            <v-img :src="`${sale.file}`" class="img-responsive" contain
                            />
                        </v-col>
                      </v-row>
                    </v-container>
                    <v-card-actions>
                      <v-btn  text @click="turn = false" > Cerrar</v-btn>
                      <v-btn color="primary" @click="imgDownload()" >Descagar Imagen</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
        </v-container>
    </v-layout>

</template>

<script>
import status from '../../helpers/status'
import fire from '../../helpers/swalfire.js'
export default {
        data() {
            return {
                sales: [],
                rows: {
                  first:0,
                  last:3000
                },
                sale: {},
                turn: false,
                limits: [],
                search:'',
                loading:false,
                footerProps: {'items-per-page-options': [10, 50, 100, 250, 500, 1000]},
                headers: [
                    {
                        text:'N° Oper',
                        align: 'left',
                        value: 'id',
                    },
                    {
                        text:'Agent',
                        align: 'right',
                        value: 'agent.username',
                    },
                    {
                        text:'Cliente',
                        align: 'center',
                        value: 'client.name',
                    },
                    {
                        text:'Monto',
                        align: 'center',
                        value: 'amount',
                    },
                    {
                        text:'Precio BTC',
                        align: 'center',
                        value: 'price_btc',
                    },
                    {
                        text:'BTC Pagado',
                        align: 'center',
                        value: 'total_btc',
                    },
                    {
                        text:'Banco',
                        align: 'right',
                        value: 'bank.name',
                    },
                    {
                        text:'Banco',
                        align: 'right',
                        value: 'bank.account_holder',
                    },
                    {
                        text:'Fecha',
                        align: 'right',
                        value: 'created_at',
                    },
                    {
                        text:'Methodo de pago',
                        align: 'right',
                        value: 'operation_method',
                    },
                    {
                        text:'N° de Cajero',
                        align: 'right',
                        value: 'agency_num',
                    },
                    {
                        text: 'Imagen',
                        align: 'center',
                        value: 'file',
                    },
                    { text: 'Opciones', value: 'actions', sortable: false }
                ],

            }
        },
        watch: {

        },
        computed: {
          rowOrder(){
            return status.status
          }
        },
        methods: {
            index() {
                let me = this;
                me.loading = true;
                axios
                    .get('/api/sales/history?first=' + me.rows.first + '&last=' + me.rows.last)
                    .then(response => {
                        me.sales = response.data.sales;
                        if (me.rows.first == 0) {
                          me.limits = response.data.limits;
                        }
                    })
                    .catch(err => console.log(err.response.data))
                    .finally(() => this.loading = false);
            },
            onPageChange(){
              this.index()
            },
            desactiveSale(id){
                let me = this
                const data = {
                    'url':'/api/sales/desactive/'+id,
                    'title' :'Esta seguro de anular este cobro ?',
                }
                fire.desactiveF(data)
                .then((res)=>{
                    me.index();
                    me.alert(2,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            activeSale(id){
                let me = this;
                const data = {
                    'url':'/api/sales/activate/'+ id,
                    'title' :'Aprobar Pago?',
                    'active': 1
                }
                fire.activeS(data)
                .then((res)=>{
                    me.index();
                    me.alert(1,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            activeSaleO(id){
                let me = this;
                const data = {
                    'url':'/api/sales/activate/'+ id,
                    'title' :'Aprobar Pago?',
                    'active': 3
                }
                fire.activeS(data)
                .then((res)=>{
                    me.index();
                    me.alert(1,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            deleteSale(id){
                let me = this;
                const data = {
                    'url':'/api/sales/destroy/'+id,
                    'title' :'Eliminar Pago?',
                }
                fire.deleteF(data)
                .then((res)=> {
                    me.index();
                    me.alert(3,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            defaultMethod(value){
                if(this.sale.operation_method == 'transf'){
                    this.sale.operation_method = 'Transferencia'
                }
            },
            showImage(item){
                let me = this;
                me.sale= item;
                me.turn = true;
            },
            imgDownload(){
                window.open('/api/sales/img/'+ this.sale.id);

            },
            pdfSale(id){
                window.open('/sale/bank-pdf/'+ id);
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
            getColor (active) {
              const obj = this.rowOrder.find(function(item) {
                  return item.active == active
              });
              return obj.color;
            },
        },
        mounted() {
            this.index();
        }
    }
</script>
