<template>
  <v-layout row wrap mx-2>
    <v-flex xs6>
      <v-subheader>Cobros</v-subheader>
    </v-flex>
    <v-flex xs5>
      <h5
        class="white--text"
        v-if="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm"
      >
        {{ amount }} <v-icon color="white">mdi-currency-btc mdi-24px</v-icon>
      </h5>
      <v-subheader v-else>
        {{ amount }}
        <v-icon color="white">mdi-currency-btc mdi-36px</v-icon></v-subheader
      >
    </v-flex>

    <v-flex xs12>
      <alerts ref="Alerts"> </alerts>
      <v-data-table
        :headers="headers"
        :search="search"
        :items="sales"
        :items-per-page="10"
        class="elevation-1"
        :footer-props="footerProps"
      >
        <template v-slot:top>
          <v-container>
            <v-row>
              <v-col cols="12" md="5">
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Buscar cobros por cualquier parametro"
                  single-line
                  hide-details
                ></v-text-field>
              </v-col>
              <v-col cols="12" lg="3" md="5">
                <v-select
                  @input="changeOrder"
                  v-model="order"
                  :items="rowOrder"
                  item-text="text"
                  item-value="active"
                  prepend-inner-icon="mdi-format-list-numbered"
                >
                </v-select>
              </v-col>
              <v-col>
                <v-tooltip top>
                  <template v-slot:activator="{ attrs, on }">
                    <v-btn
                      top
                      v-bind="attrs"
                      v-on="on"
                      color="primary"
                      @click="index()"
                      dark
                      left
                      mx-2
                    >
                      <v-icon>mdi-reload</v-icon>
                    </v-btn>
                  </template>
                  <span>Re-cargar Lista</span>
                </v-tooltip>
                <router-link :to="{ name: 'create-sale' }">
                  <v-tooltip top>
                    <template v-slot:activator="{ attrs, on }">
                      <v-btn
                        top
                        v-bind="attrs"
                        v-on="on"
                        color="pink"
                        dark
                        right
                      >
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>Nuevo Pago</span>
                  </v-tooltip>
                </router-link>
              </v-col>
              <v-col cols="12">
                <span class="text--primary">
                  Estados de Cobro Recibido:
                </span>
                <span
                  v-for="s in rowOrder"
                  :key="s.active"
                  class="display-1 ml-3 text--primary"
                >
                  <v-chip :color="s.color" v-if="s.active" dark>{{
                    s.text
                  }}</v-chip>
                </span>
              </v-col>
            </v-row>
          </v-container>
        </template>
        <template v-slot:item.id="{ item }">
          <v-chip :color="getColor(item.active)" dark>{{ item.id }}</v-chip>
        </template>
        <template v-slot:item.agent.username="{ item }">
          <div v-if="!item.agent">
            <span>Sin Agente</span>
          </div>
          <div v-else>
            <div v-if="!copyOk">
              {{ item.agent.username }}
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2"
                    fab
                    v-clipboard:copy="item.agent.wallet_num"
                    v-clipboard:success="statusCopy"
                    dark
                    small
                    color="blue-grey darken-4"
                    v-bind="attrs"
                    v-on="on"
                    ><v-icon dark> mdi-wallet</v-icon>
                  </v-btn>
                </template>
                <span>Click para Copiar Wallet</span>
              </v-tooltip>
            </div>
            <v-chip v-else color="pink" dark>Wallet Copiada</v-chip>
          </div>
        </template>
        <template v-slot:item.amount_formated="{ item }">
          <div>{{ item.amount_formated }} {{ item.iso }}</div>
        </template>
        <template v-slot:item.total_btc="{ item }">
          <div>{{ item.total_btc }}</div>
        </template>

        <template v-slot:item.profits_btc="{ item }">
          <v-chip v-if="item.profits_btc" dark
            >btc ganado {{ item.profits_btc }}
          </v-chip>
          <div v-else>No calculado</div>
        </template>

        <template v-slot:item.operation_method="{ item }">
          <div v-if="item.operation_method == 'transf'">Transferencia</div>
          <div v-else>Deposito</div>
        </template>
        <template v-slot:item.file="{ item }">
          <v-icon v-if="item.file.length" medium @click="showImage(item)">
            mdi-camera
          </v-icon>
          <div v-else>Sin archivos</div>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn
            @click="pdfSale(item.id)"
            color="deep-orange"
            x-small
            class="ma-1 white--text"
          >
            Factura
            <v-icon small right dark> mdi-file-pdf </v-icon>
          </v-btn>
          <v-btn
            :to="{ name: 'edit-sale', params: { id: item.id } }"
            color="blue-grey darken-4"
            x-small
            class="ma-1 white--text"
          >
            Editar
            <v-icon right small dark> mdi-pencil </v-icon>
          </v-btn>
          <v-btn
            v-if="item.active == 1 || item.active == 3"
            x-small
            @click="desactiveSale(item.id)"
            color="blue-grey"
            class="ma-1 white--text"
          >
            Desactivar
            <v-icon small right dark> mdi-eye-off-outline </v-icon>
          </v-btn>
          <v-btn
            v-if="
              item.active == 0 ||
                item.active == 2 ||
                item.active == 3 ||
                item.active == 4
            "
            @click="activeSale(item.id)"
            color="green darken-2"
            x-small
            class="ma-1 white--text"
          >
            Aprobar
            <v-icon small right dark>mdi-check-circle-outline</v-icon>
          </v-btn>
          <v-btn
            v-if="item.active == 0 || item.active == 2 || item.active == 4"
            @click="activeSaleO(item.id)"
            color="grey darken-2"
            x-small
            class="ma-1 white--text"
          >
            Aprobar s/revisar
            <v-icon small right dark>mdi-check-circle-outline</v-icon>
          </v-btn>
          <v-btn
            @click="deleteSale(item.id)"
            color="deep-orange"
            x-small
            class="ma-1 white--text"
            :disabled="item.active == 3 || item.active == 1"
          >
            Eliminar
            <v-icon small right dark> mdi-close-outline </v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-flex>
    <v-row class="mx-2">
      <v-dialog v-model="turn" cols="8">
        <v-card>
          <v-card-title class="grey darken-2">
            Referencia de Pago
          </v-card-title>
          <v-container>
            <v-row class="mx-2">
              <v-col class="align-center justify-space-between" cols="12">
                <v-img :src="`${sale.file}`" class="img-responsive" contain />
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-btn text @click="turn = false"> Cerrar</v-btn>
            <v-btn color="primary" @click="imgDownload()"
              >Descagar Imagen</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-layout>
</template>

<script>
import status from "../../helpers/status";
import fire from "../../helpers/swalfire.js";
export default {
  data() {
    return {
      id: 0,
      banks: [],
      agents: [],
      clients: [],
      amount: 0,
      img: "",
      dialog_title: "",
      turn: 0,
      sales: [],
      sale: {},
      search: "",
      text: "",
      color: "",
      copyC: "blue-grey",
      copyOk: false,
      loading: false,
      saving: false,
      display: {
        status: false
      },
      order: "",
      footerProps: { "items-per-page-options": [10, 50, 100, 250, 500] },
      headers: [
        {
          text: "N° Oper.",
          align: "left",
          value: "id"
        },
        {
          text: "Agente",
          align: "right",
          value: "agent.username"
        },
        {
          text: "Cliente",
          align: "center",
          value: "full_name"
        },
        {
          text: "Acumulado",
          align: "center",
          value: "client.accumulated",
          sortable: false
        },
        {
          text: "Monto",
          align: "center",
          value: "amount_formated"
        },
        {
          text: "Precio BTC",
          align: "center",
          value: "price_formated"
        },
        {
          text: "BTC Pagado",
          align: "center",
          value: "total_btc"
        },
        {
          text: "Banco",
          align: "right",
          value: "bank.name"
        },
        {
          text: "Fecha",
          align: "right",
          value: "created_at"
        },
        {
          text: "Methodo de pago",
          align: "right",
          value: "operation_method"
        },
        {
          text: "BTC Ganado",
          align: "center",
          value: "profits_btc"
        },
        {
          text: "N° de Cajero",
          align: "right",
          value: "agency_num"
        },
        {
          text: "Imagen",
          align: "center",
          value: "file"
        },
        { text: "Opciones", value: "actions", sortable: false }
      ],
      methods: [
        {
          name: "Deposito en Cajero",
          method: "deposit",
          id: 0
        },
        {
          name: "Transferencia",
          method: "transf",
          id: 1
        }
      ]
    };
  },
  computed: {
    searchClient: function() {
      let me = this;
      if (me.sale.client_id !== 0) {
        me.agentClient(me.sale.agent_id);
      }
    },
    rowOrder() {
      return status.status;
    }
  },
  methods: {
    index() {
      let me = this;
      me.indexBalance();
      me.axios.get("/api/sales?order=" + me.order).then(response => {
        me.sales = response.data.sales;
      });
    },
    changeOrder() {
      this.index();
    },
    indexBalance() {
      let me = this;
      axios.get("/api/balances/active").then(response => {
        if (response.data.balance) {
          me.amount = response.data.balance.amount;
        } else {
          me.amount = 0.0;
        }
      });
    },
    desactiveSale(id) {
      let me = this;
      const data = {
        url: "/api/sales/desactive/" + id,
        title: "Esta seguro de anular este cobro ?"
      };
      fire
        .desactiveF(data)
        .then(res => {
          me.index();
          me.alert(2, res);
        })
        .catch(error => {
          me.alert(4, error);
        });
    },
    activeSale(id) {
      let me = this;
      const data = {
        url: "/api/sales/activate/" + id,
        title: "Aprobar Pago?",
        active: 1
      };
      fire
        .activeS(data)
        .then(res => {
          me.index();
          me.alert(1, res);
        })
        .catch(error => {
          me.alert(4, error);
        });
    },
    activeSaleO(id) {
      let me = this;
      const data = {
        url: "/api/sales/activate/" + id,
        title: "Aprobar Pago?",
        active: 3
      };
      fire
        .activeS(data)
        .then(res => {
          me.index();
          me.alert(1, res);
        })
        .catch(error => {
          me.alert(4, error);
        });
    },
    deleteSale(id) {
      let me = this;
      const data = {
        url: "/api/sales/destroy/" + id,
        title: "Eliminar Pago?"
      };
      fire
        .deleteF(data)
        .then(res => {
          me.index();
          me.alert(3, res);
        })
        .catch(error => {
          me.alert(4, error);
        });
    },
    defaultMethod(value) {
      if (this.sale.operation_method == "transf") {
        this.sale.operation_method = "Transferencia";
      }
    },
    showImage(item) {
      let me = this;
      me.sale = item;
      me.img = item.file;
      me.turn = true;
    },
    imgDownload() {
      window.open("/api/sales/img/" + this.sale.id);
    },
    getColor(active) {
      const obj = this.rowOrder.find(function(item) {
        return item.active == active;
      });
      return obj.color;
    },
    statusCopy: function(e) {
      this.copyOk = true;
      this.copyC = "primary";
      setTimeout(() => (this.copyOk = false), 3000);
      setTimeout(() => (this.copyC = "blue-grey"), 3000);
    },
    pdfSale(id) {
      window.open("/sale/bank-pdf/" + id);
    },
    alert: function(display, res) {
      this.$refs.Alerts.showAlert(display, res);
    }
  },
  mounted() {
    this.index();
  }
};
</script>
