<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Historial de cambios en Agentes</v-subheader>
            </v-flex>

            <v-flex xs12>
                <v-card>

                    <alerts ref="Alerts"> </alerts>
                    <v-data-table :headers="headers" :search="search" :items="agents" :items-per-page="10" class="elevation-1" >
                        <template v-slot:top>
                            <v-toolbar flat color="white">
                                <v-text-field
                                    v-model="search"
                                    append-icon="mdi-magnify"
                                    label="Busque Agente por cualquier parametro"
                                    single-line
                                    hide-details
                                ></v-text-field>

                            </v-toolbar>
                        </template>

                    </v-data-table>
                </v-card>
            </v-flex>
        </v-container>
    </v-layout>

</template>

<script>
import fire from '../../helpers/swalfire.js';
export default {
        data() {
            return {
                agents: [],
                agent: {
                    password:'',
                    confirm_pass:'',
                },
                search:'',
                show1:false,
                show2: false,
                dialog:false,
                dialog2:false,
                dialog_title:'',
                turn:0,
                saving: false,
                loading: false,
                errAg: 0,
                errLa: [],
                headers: [
                    {
                        text:'id',
                        align: 'right',
                        value: 'id',
                    },
                    {
                        text:'Nombre Completo',
                        align: 'center',
                        value: 'name',
                    },
                    {
                        text:'Email',
                        align: 'center',
                        value: 'email',
                    },
                    {
                        text:'Telefono',
                        align: 'center',
                        value: 'phone',
                    },
                    {
                        text:'Nombre de Usuario',
                        align: 'right',
                        value: 'username',
                    },
                    {
                        text:'Billetera',
                        align: 'right',
                        value: 'wallet_num',
                    },
                    {
                        text:'Descuento',
                        align: 'right',
                        value: 'discount'
                    },

                    { text: 'Opciones', value: 'actions', sortable: false },
                    { text: 'Cambiar password', value: 'newpass', sortable: false }
                ],
                rules: {
                    required: value => !!value || 'Campo Requerido.',
                    min: value => (!value || value.length >= 8) || 'Minimo 8 Caracteres',
                },

            }
        },
        computed: {
        },
        methods: {
            index() {
                let me = this;
                me.axios
                    .get('/api/agent-updates/')
                    .then(response => {
                        me.agents = response.data.agents;
                        // console.log(me.agents);
                });
            },
            showDialog() {
                let me = this;
                me.agent={};
                me.turn = 1;
                me.id=0;
                me.name='';
                me.username='';
                me.dialog_title='Guardar agente';
                me.dialog = true;

            },
            createAgent() {
                let me = this
                if (me.validateAgent()) {
                    return
                }
                me.saving = true
                axios.post('/api/agents/store', this.agent)
                    .then(response => {
                        this.index();
                        this.dialog = false;
                    })
                    .catch(error => console.log(error))
                    .finally(() => this.saving = false)

            },
            desactiveAgent(id){
                let me=this;
                const data = {
                    'url':'/api/agents/desactive/'+id,
                    'title' :'Esta seguro de inactivar este Agente ?',
                }
                fire.desactiveF(data)
                .then((res) =>{
                    me.index();
                    me.alert(2,res)
                })
                .catch((error) => {
                    me.alert(4,error)
                });
            },
            activeAgent(id){
                let me = this;

                const data = {
                    'url':'/api/agents/activate/'+id,
                    'title' :'Activar Agente?',
                }
                fire.activeF(data)
                .then((res)=>{
                    me.index();
                    me.alert(1,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            editItem (item) {
                let me = this;
                me.turn = 2;
                me.dialog_title='Actualizar';
                me.agent = me.agents.indexOf(item);
                me.agent = Object.assign({}, item);
                me.dialog = true;
            },
            updateAgent() {
                let me =this;
                if (me.validateAgent()) {
                    return
                }
                me.saving = true
                me.agent._method = 'put'
                axios.post(`/api/agents/update/${me.agent.id}`, me.agent)
                    .then(response => {
                        Swal.fire(
                        'Exito!',
                        'Agente actualizado.',
                        'success'
                        )
                        me.agent={};
                        me.turn = 1;
                        me.id=0;
                        me.name='';
                        me.username='';
                        me.dialog_title='Guardar Cobro';
                        me.index();
                        me.dialog = false;
                    })
                    .catch(error => console.log(error))
                    .finally(() => this.saving = false)
            },
            validateAgent(){
                let me=this;
                me.errAg=0;
                me.errLa =[];

                if (!me.agent.username)me.errLa.push("Por favor ingrese su usuario de LocalBitcoin!.");
                if (!me.agent.phone)me.errLa.push("Ingrese un numero telefonico valido");
                if (!me.agent.email)me.errLa.push("Ingrese un email valido");
                // if (!me.agent.id_b)me.errLa.push("Por favor ingrese una contraseña");
                // if (!me.agent.id_f)me.errLa.push("Por favor cargue una Foto DNI/PASAPORTE/NIE");

                // if (!me.agent.auth_image)me.errLa.push("Por favor cargue una Foto de los Terminos y Condiciones Aceptados y Firmados");

                // if (!me.agent.term_selfie)me.errLa.push("Por favor cargue una Foto Selfie con la Hoja de Terminos aceptados, Firmada.");

                if (me.email)me.errLa.push("E-mail Registrado, por favor introduzca otro");
                if (me.phone)me.errLa.push("Telefono registrado, por favor introduzca otro");
                // if (me.dni)me.errLa.push("Documento registrado, verifique si el Cliente esta registrado Cuando realize un Pago.");

                if (me.username)me.errLa.push("Usuario Registrado, por favor introduzca otro");

                if (me.errLa.length) me.errAg = 1;
                if (me.errLa.length >= 1) {
                    Swal.fire({
                        title:'Falta(n) Datos',
                        icon: 'error',
                        confirmButtonText: 'Aceptar!',
                        confirmButtonColor: '#3085d6',
                        html: `${me.errLa.map( er =>`<br><span style="color:red;" class="mb-3"><i class="mdi mdi-minus-circle-outline mdi-spin mr-3"></i> ${er}</span>`)}`,
                        showCancelButton: false
                    });
                };
                return me.errAg;
            },
            dialogPass(agent){
                let me = this
                me.agent = agent
                if (!me.agent.email) {
                    me.alert(5,'Este Agente no tiene correo registrado! Editar Agente.')
                } else {
                    me.dialog_title='Cambiar Contraseña del agente ' + me.agent.username;
                    me.dialog2 = true;
                }

            },
            changePass(agent){
                let me = this
                me.loading = true
                agent._method = 'put'
                console.log(agent)
                axios.post(`/api/agents/password/${agent.id}`, agent)
                    .then((res) => {
                        me.alert(3,res.data.message)
                        me.agent={};
                        me.turn = 1;
                        me.id=0;
                        me.name='';
                        me.username='';
                        me.dialog_title='Guardar Cobro';
                        me.index();
                        me.dialog2 = false;
                    })
                    .catch((err) => {
                        var error = err.response.data;
                        if (error.email) {
                            Swal.fire({
                                title:'Hubo un Error',
                                icon: 'error',
                                confirmButtonText: 'Aceptar!',
                                confirmButtonColor: 'blue',
                                text: error.email,
                                showCancelButton: false
                            });
                        } else {
                            me.alert(4,error.error)
                        }
                    })
                    .finally(() => me.loading = false);
            },
            deleteAgent(id){
                let me = this
                const data = {
                    'url':'/api/agents/destroy/'+id,
                    'title' :'Esta seguro de Eliminar este Agente ?',
                }
                fire.desactiveF(data)
                .then((res) =>{
                    me.index();
                    me.alert(2,res)
                })
                .catch((error) => {
                    me.alert(4,error)
                });
            },
            verifyEmail(email){
                let me = this;
                me.axios
                .post('/api/agents/email-verify', {'email':email})
                .then(response => {
                    me.email =response.data.email;
                })
                .catch(error => console.log(error))
                .finally(() => this.loading = false);
            },
            verifyUser(username){
                let me = this;
                me.axios
                .post('/api/agents/user-verify', {'user':username})
                .then(response => {
                    me.username =response.data.user;
                })
                .catch(error => console.log(error))
                .finally(() => this.loading = false);
            },
            valpass(){
                this.min = this.agent.password.length
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
        },
        mounted() {
            this.index();
        }
    }
</script>
