<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Agentes</v-subheader>
            </v-flex>

            <v-flex xs12>
                <v-card>

                    <alerts ref="Alerts"> </alerts>
                    <v-data-table :headers="headers" :search="search" :items="agents" :items-per-page="10" class="elevation-1" >
                        <template v-slot:top>
                            <v-toolbar flat color="white">
                                <v-text-field
                                    v-model="search"
                                    append-icon="mdi-magnify"
                                    label="Busque Agente por cualquier parametro"
                                    single-line
                                    hide-details
                                ></v-text-field>
                                <v-divider class="mx-4" inset vertical></v-divider>
                                <v-spacer></v-spacer>
                                <v-btn bottom color="pink" dark fixed right @click="showDialog()" >
                                   Nuevo Agente <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </v-toolbar>
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <v-btn @click="editItem(item)"  x-small color="yellow darken-3"
                            class="ma-1 white--text"
                            > Editar
                                <v-icon small right dark> mdi-pencil </v-icon>
                            </v-btn>

                            <v-btn v-if="item.active ==1" x-small
                            @click="desactiveAgent(item.id)" color="blue-grey"
                            class="ma-1 white--text"
                            > Desactivar
                                <v-icon small right dark>  mdi-eye-off-outline </v-icon>
                            </v-btn>

                            <v-btn v-if="item.active ==0 || item.active ==null" @click="activeAgent(item.id)"
                            color="green darken-2" x-small class="ma-1 white--text"
                            > Activar
                                <v-icon small right dark>mdi-check-circle-outline </v-icon>
                            </v-btn>

                            <v-btn @click="deleteAgent(item.id)" color="deep-orange" x-small
                            class="ma-1 white--text"
                            > Eliminar
                                <v-icon small right dark> mdi-close-outline </v-icon>
                            </v-btn>
                        </template>
                        <template v-slot:item.newpass="{item}">
                            <v-btn @click="dialogPass(item)"
                            color="black" x-small class="ma-1 white--text"
                            > Cambiar password
                            </v-btn>
                        </template>

                    </v-data-table>
                </v-card>
            </v-flex>


            <v-row class="mx-2">
                <v-dialog v-model="dialog" cols="10">
                  <v-card>
                    <v-card-title class="grey darken-2 white--text" v-text="dialog_title">

                    </v-card-title>
                    <v-container>
                      <v-row class="mx-2">
                        <v-col class="align-center justify-space-between" cols="12">
                          <v-row align="center" class="mr-0">
                            <v-avatar size="40px" class="mx-3">
                              <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" alt="">
                            </v-avatar>
                            <v-col cols="6">
                                <v-text-field type="text" v-model="agent.name"
                                  placeholder="Nombre completo"
                                />
                            </v-col>
                            <v-col cols="3">
                                <span style="color:red;" v-show="username">Nombre de Usuario se encuentra registrado</span>
                                <v-text-field type="text" v-model="agent.username"
                                  placeholder="Nombre de Usuario 'USERNAME' en LocalBitcoin"
                                  @input="verifyUser(agent.username)"
                                  label="Su Usuario LocalBitcoin"
                                />
                            </v-col>

                            <v-col cols="3">
                                <v-text-field type="text" v-model="agent.phone"
                                  placeholder="Telefono" label="Ingrese Telefono"
                                />
                            </v-col>

                            <v-col cols="3">
                                <span style="color:red;" v-show="email">Email se encuentra en uso</span>
                                <v-text-field type="email" v-model="agent.email"
                                  placeholder="Email" label="Ingrese Email"
                                  @inpur="verifyEmail(agent.email)"
                                />
                            </v-col>

                            <v-col cols="3">
                                <v-text-field type="text" v-model="agent.wallet_num"
                                  placeholder="Wallet" label="Ingrese Billetera Electronica"
                                />
                            </v-col>
                            <v-col cols="3">
                                <v-text-field type="text" append-icon="mdi-label-percent-outline"
                                v-model="agent.discount"
                                  placeholder="% Descuento" label="Ingrese % de Descuento"
                                />
                            </v-col>

                          </v-row>
                        </v-col>

                      </v-row>
                    </v-container>
                    <v-card-actions>
                      <v-btn  text color="primary"
                        @click="dialog = false" > Cancelar</v-btn>
                      <v-btn text v-if="turn == 1" :loading="saving" @click="createAgent(agent)" >Guardar</v-btn>
                      <v-btn text v-if="turn == 2" :loading="saving" @click="updateAgent(agent)" >Actualizar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
            <v-row class="mx-2">
                <v-dialog v-model="dialog2" cols="10">
                  <v-card>
                    <v-card-title class="yellow darken-3 white--text" v-text="dialog_title">

                    </v-card-title>
                    <v-container>
                      <v-row class="mx-2">
                        <v-col class="align-center justify-space-between" cols="12">
                          <v-row align="center" class="mr-0">
                            <v-avatar size="40px" class="mx-3">
                              <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" alt="">
                            </v-avatar>
                            <v-col cols="12" sm="5">
                                <v-text-field v-model="agent.password" @input="valpass()" placeholder="Contraseña" label="Ingrese su Contraseña" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"
                                :rules="[rules.required, rules.min]"
                                />
                            </v-col>
                            <v-col cols="12" sm="5">
                                <span style="color:red;" v-show="agent.password != agent.confirm_pass">La Contraseña debe coincidir con la verificación</span>
                                <v-text-field v-model="agent.confirm_pass"
                                    placeholder="Confirme Su Contraña" label="Repita su Contraseña" :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :type="show2 ? 'text' : 'password'"
                                    @click:append="show2 = !show2"
                                    :rules="[rules.required, rules.min]"
                                />
                            </v-col>

                          </v-row>
                        </v-col>

                      </v-row>
                    </v-container>
                    <v-card-actions>
                      <v-btn  text color="primary"
                        @click="dialog2 = false" > Cancelar</v-btn>
                      <v-btn :disabled="verifypass" :loading="loading" text @click="changePass(agent)" >Actualizar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-row>
        </v-container>
    </v-layout>

</template>

<script>
// import apis from '../../helpers/agent.js'
import fire from '../../helpers/swalfire.js';
export default {
        data() {
            return {
                id:0,
                name:'',
                username:'',
                email:'',
                phone:'',
                wallet_num:'',
                active:0,
                min:0,
                agents: [],
                agent: {
                    password:'',
                    confirm_pass:'',
                },
                search:'',
                show1:false,
                show2: false,
                dialog:false,
                dialog2:false,
                dialog_title:'',
                turn:0,
                saving: false,
                loading: false,
                errAg: 0,
                errLa: [],
                headers: [
                    {
                        text:'id',
                        align: 'right',
                        value: 'id',
                    },
                    {
                        text:'Nombre Completo',
                        align: 'center',
                        value: 'name',
                    },
                    {
                        text:'Email',
                        align: 'center',
                        value: 'email',
                    },
                    {
                        text:'Telefono',
                        align: 'center',
                        value: 'phone',
                    },
                    {
                        text:'Nombre de Usuario',
                        align: 'right',
                        value: 'username',
                    },
                    {
                        text:'Billetera',
                        align: 'right',
                        value: 'wallet_num',
                    },
                    {
                        text:'Descuento',
                        align: 'right',
                        value: 'discount'
                    },
                    { text: 'Opciones', value: 'actions', sortable: false },
                    { text: 'Cambiar password', value: 'newpass', sortable: false }
                ],
                rules: {
                    required: value => !!value || 'Campo Requerido.',
                    min: value => (!value || value.length >= 8) || 'Minimo 8 Caracteres',
                },

            }
        },
        computed: {
            verifypass(){
                let me = this
                if (me.agent.password != me.agent.confirm_pass || !me.agent.password) {
                    return true
                } else {
                    return false
                }
            },
        },
        methods: {
            index() {
                let me = this;
                me.axios
                    .get('/api/agents')
                    .then(response => {
                        me.agents = response.data.agents;
                        // console.log(me.agents);
                });
            },
            showDialog() {
                let me = this;
                me.agent={};
                me.turn = 1;
                me.id=0;
                me.name='';
                me.username='';
                me.dialog_title='Guardar agente';
                me.dialog = true;

            },
            createAgent() {
                let me = this
                if (me.validateAgent()) {
                    return
                }
                me.saving = true
                axios.post('/api/agents/store', this.agent)
                    .then(response => {
                        this.index();
                        this.dialog = false;
                    })
                    .catch(error => console.log(error))
                    .finally(() => this.saving = false)

            },
            desactiveAgent(id){
                let me=this;
                const data = {
                    'url':'/api/agents/desactive/'+id,
                    'title' :'Esta seguro de inactivar este Agente ?',
                }
                fire.desactiveF(data)
                .then((res) =>{
                    me.index();
                    me.alert(2,res)
                })
                .catch((error) => {
                    me.alert(4,error)
                });
            },
            activeAgent(id){
                let me = this;

                const data = {
                    'url':'/api/agents/activate/'+id,
                    'title' :'Activar Agente?',
                }
                fire.activeF(data)
                .then((res)=>{
                    me.index();
                    me.alert(1,res)
                })
                .catch((error)=>{
                    me.alert(4,error)
                })
            },
            editItem (item) {
                let me = this;
                me.turn = 2;
                me.dialog_title='Actualizar';
                me.agent = me.agents.indexOf(item);
                me.agent = Object.assign({}, item);
                me.dialog = true;
            },
            updateAgent() {
                let me =this;
                if (me.validateAgent()) {
                    return
                }
                me.saving = true
                me.agent._method = 'put'
                axios.post(`/api/agents/update/${me.agent.id}`, me.agent)
                    .then(response => {
                        Swal.fire(
                        'Exito!',
                        'Agente actualizado.',
                        'success'
                        )
                        me.agent={};
                        me.turn = 1;
                        me.id=0;
                        me.name='';
                        me.username='';
                        me.dialog_title='Guardar Cobro';
                        me.index();
                        me.dialog = false;
                    })
                    .catch(error => console.log(error))
                    .finally(() => this.saving = false)
            },
            validateAgent(){
                let me=this;
                me.errAg=0;
                me.errLa =[];

                if (!me.agent.username)me.errLa.push("Por favor ingrese su usuario de LocalBitcoin!.");
                if (!me.agent.phone)me.errLa.push("Ingrese un numero telefonico valido");
                if (!me.agent.email)me.errLa.push("Ingrese un email valido");
                // if (!me.agent.id_b)me.errLa.push("Por favor ingrese una contraseña");
                // if (!me.agent.id_f)me.errLa.push("Por favor cargue una Foto DNI/PASAPORTE/NIE");

                // if (!me.agent.auth_image)me.errLa.push("Por favor cargue una Foto de los Terminos y Condiciones Aceptados y Firmados");

                // if (!me.agent.term_selfie)me.errLa.push("Por favor cargue una Foto Selfie con la Hoja de Terminos aceptados, Firmada.");

                if (me.email)me.errLa.push("E-mail Registrado, por favor introduzca otro");
                if (me.phone)me.errLa.push("Telefono registrado, por favor introduzca otro");
                // if (me.dni)me.errLa.push("Documento registrado, verifique si el Cliente esta registrado Cuando realize un Pago.");

                if (me.username)me.errLa.push("Usuario Registrado, por favor introduzca otro");

                if (me.errLa.length) me.errAg = 1;
                if (me.errLa.length >= 1) {
                    Swal.fire({
                        title:'Falta(n) Datos',
                        icon: 'error',
                        confirmButtonText: 'Aceptar!',
                        confirmButtonColor: '#3085d6',
                        html: `${me.errLa.map( er =>`<br><span style="color:red;" class="mb-3"><i class="mdi mdi-minus-circle-outline mdi-spin mr-3"></i> ${er}</span>`)}`,
                        showCancelButton: false
                    });
                };
                return me.errAg;
            },
            dialogPass(agent){
                let me = this
                me.agent = agent
                if (!me.agent.email) {
                    me.alert(5,'Este Agente no tiene correo registrado! Editar Agente.')
                } else {
                    me.dialog_title='Cambiar Contraseña del agente ' + me.agent.username;
                    me.dialog2 = true;
                }

            },
            changePass(agent){
                let me = this
                me.loading = true
                agent._method = 'put'
                console.log(agent)
                axios.post(`/api/agents/password/${agent.id}`, agent)
                    .then((res) => {
                        me.alert(3,res.data.message)
                        me.agent={};
                        me.turn = 1;
                        me.id=0;
                        me.name='';
                        me.username='';
                        me.dialog_title='Guardar Cobro';
                        me.index();
                        me.dialog2 = false;
                    })
                    .catch((err) => {
                        var error = err.response.data;
                        if (error.email) {
                            Swal.fire({
                                title:'Hubo un Error',
                                icon: 'error',
                                confirmButtonText: 'Aceptar!',
                                confirmButtonColor: 'blue',
                                text: error.email,
                                showCancelButton: false
                            });
                        } else {
                            me.alert(4,error.error)
                        }
                    })
                    .finally(() => me.loading = false);
            },
            deleteAgent(id){
                let me = this
                const data = {
                    'url':'/api/agents/destroy/'+id,
                    'title' :'Esta seguro de Eliminar este Agente ?',
                }
                fire.desactiveF(data)
                .then((res) =>{
                    me.index();
                    me.alert(2,res)
                })
                .catch((error) => {
                    me.alert(4,error)
                });
            },
            verifyEmail(email){
                let me = this;
                me.axios
                .post('/api/agents/email-verify', {'email':email})
                .then(response => {
                    me.email =response.data.email;
                })
                .catch(error => console.log(error))
                .finally(() => this.loading = false);
            },
            verifyUser(username){
                let me = this;
                me.axios
                .post('/api/agents/user-verify', {'user':username})
                .then(response => {
                    me.username =response.data.user;
                })
                .catch(error => console.log(error))
                .finally(() => this.loading = false);
            },
            valpass(){
                this.min = this.agent.password.length
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
        },
        mounted() {
            this.index();
        }
    }
</script>
