<template>
    <v-layout row wrap>
        <v-container>
            <v-flex xs6>
                <v-subheader>Datos Personales</v-subheader>
            </v-flex>

            <v-flex xs12>
                <v-card>

                  <v-container>
                    <alerts ref="Alerts"> </alerts>
                    <v-card-title class="darken-2">
                        <span v-show="read ==true" class="title font-weight-light ">Para Actualizar, 'Click' en 'Edite Datos'.</span>
                        <span v-show="read ==false" class="title font-weight-light ">Cambiar datos, luego 'Click' en 'Actualizar'</span>
                        <v-spacer/>
                        <v-btn @click="dialogPass()" right
                        color="black" class="ma-1 white--text"
                        > Cambiar password
                        </v-btn>
                    </v-card-title>
                      <v-row class="mx-2">
                        <v-col cols="12" md="6">
                            <v-text-field type="text" readonly v-model="agent.name" label="Nombre Completo"
                                placeholder="Nombre completo" append-outer-icon="mdi-face"
                            />
                        </v-col>
                        <v-col cols="10" md="4">
                            <v-text-field type="text" readonly v-model="agent.username" label="Nombre de Usuario LocalBitcoin"
                                placeholder="Nombre de Usuario USERNAME"
                            />
                        </v-col>

                        <v-col cols="10" md="4">
                            <v-text-field type="text" :readonly="read" v-model="agent.phone"
                                placeholder="Telefono" label="Ingrese Telefono"
                            />
                        </v-col>

                        <v-col cols="10" md="4">
                            <v-text-field type="email" :readonly="read" v-model="agent.email"
                                placeholder="Email" label="Ingrese Email"
                            />
                        </v-col>

                        <v-col cols="10" md="4">
                            <v-text-field type="text" :readonly="read" v-model="agent.wallet_num"
                                placeholder="Wallet" label="Ingrese Billetera Electronica"
                            />
                        </v-col>
                      </v-row>
                      <v-card-actions>
                        <v-btn right color="primary" v-show="read ==true" @click="inactive()">Editar Datos</v-btn>
                        <v-btn  text color="primary" v-show="read == false"  @click="activate()" > Cancelar</v-btn>
                        <v-btn text v-show="read == false" @click="updateAgent(agent)" >Actualizar</v-btn>
                      </v-card-actions>

                    </v-container>
                </v-card>

                <v-row class="mx-2">
                    <v-container grid-list-xs>
                        <v-dialog v-model="dialog" max-width="70%">
                            <v-card>
                                <v-card-title class="yellow darken-3 white--text">
                                    Cambiar Contraseña
                                </v-card-title>
                                <v-row class="mx-2">
                                    <v-col cols="12" sm="5">
                                        <v-text-field v-model="password"
                                        placeholder="Contraseña" label="Ingrese su Contraseña" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"
                                        :rules="[rules.required, rules.min]"
                                        />
                                    </v-col>
                                    <v-col cols="12" sm="5">
                                        <span style="color:red;" v-show="password != confirm_pass">La Contraseña debe coincidir con la verificación</span>
                                        <v-text-field v-model="confirm_pass"
                                        placeholder="Confirme Su Contraña" label="Repita su Contraseña" :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :type="show2 ? 'text' : 'password'"
                                        @click:append="show2 = !show2"
                                        :rules="[rules.required, rules.min]"
                                        />
                                    </v-col>
                                </v-row>
                                <v-card-actions>
                                    <v-btn  text color="primary"
                                        @click="dialog = false" > Cancelar</v-btn>
                                    <v-btn :disabled="verifypass" :loading="saving" text @click="changePass(agent)" >Actualizar</v-btn>
                                </v-card-actions>
                            </v-card>
                            </v-dialog>
                    </v-container>

                </v-row>
            </v-flex>
        </v-container>
    </v-layout>

</template>

<script>
// import apis from '../../helpers/agent.js'
export default {
        data() {
            return {
                id:0,
                name:'',
                username:'',
                email:'',
                phone:'',
                wallet_num:'',
                active:0,
                password:'',
                confirm_pass:'',
                read:true,
                dialog: false,
                agent: {},
                user: {},
                show1: false,
                show2: false,
                loading: false,
                saving: false,
                rules: {
                    required: value => !!value || 'Campo Requerido.',
                    min: value => (!value || value.length >= 8) || 'Minimo 8 Caracteres',
                },
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            },
            verifypass(){
                let me = this
                if (me.password != me.confirm_pass || !me.password) {
                    return true
                } else {
                    return false
                }
            },
        },
        methods: {
            index() {
                let me = this;
                me.user = me.currentUser;
                axios
                    .get(`/api/agents/edit/${me.user.agent_id}`)
                    .then(response => {
                        me.agent = response.data.agent;
                })
                .catch(error => console.log(error))
            },
            updateAgent(agent) {
                let me =this;
                me.loading = true
                agent._method = 'put'

                axios.post(`/api/agents/update/${me.user.agent_id}`, agent)
                    .then(response => {
                        Swal.fire(
                        'Exito!',
                        'Actualizado.',
                        'success'
                        )
                        me.agent={};
                        me.index();
                        me.read = true;
                    })
                    .catch(error => console.log(error))
                    .finally(() => me.loading = false)
            },
            dialogPass(){
                let me = this
                me.password = ''
                me.confirm_pass = ''
                me.dialog = true;

            },
            changePass(){
                let me = this
                me.saving = true
                axios.post(`/api/agents/password/${me.user.agent_id}`,{
                    '_method': 'put',
                    'password': me.password
                }).then((res) => {
                        me.alert(3,res.data.message)
                        me.password = '';
                        me.confirm_pass='';
                        me.index();
                        me.dialog = false;
                    })
                    .catch((err) => {
                        me.alert(4,err)
                    })
                    .finally(() => me.saving = false);
            },
            inactive(){
                let me =this;
                me.read = false
            },
            activate(){
                let me =this;
                me.read = true
            },
            alert: function (display,res){
                this.$refs.Alerts.showAlert(display, res);
            },
        },
        mounted() {
            this.index();
        }
    }
</script>
