<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header"><h5>Bienvenid@ a CoinTrato</h5></div>
            <div class="card-body">
                <h5>Portal de genstion de Transacciones de CryptoCurrency</h5>
            </div>
            <div class="card-footer">
                <h3 class="" > Precio BitCoin al momento: </h3>
                <v-row>
                    <div class="pa-4" cols="12" md="6" v-for="p in prices" :key="p.id">
                        <span class="h3" style="color: darkgoldenrod"  v-text="' '+ p.amount_format "></span>
                        <span class="h3" style=""  v-text="' ' +p.currency.iso+ '. Calculado: ' + p.calc_format + ''"></span><br>
                    </div>
                </v-row>
                <!-- <div v-for="price in prices"></div> -->
            </div>
        </div>
       <v-row>
            <v-col lg="4" cols="sm" class="pb-2">
                <v-card>
                    <v-row class="no-gutters">
                        <div class="col-auto">
                            <div class="cyan fill-height">&nbsp;</div>
                        </div>
                        <div class="col pa-3 py-4 cyan--text">
                            <h5 class="text-truncate text-uppercase">Cantidad de Pagos ultimos 7 dias.</h5>
                            <h1 v-text="count"></h1>
                        </div>
                    </v-row>
                </v-card>
            </v-col>
            <v-col lg="4" cols="sm" class="pb-2">
                <v-card>
                    <v-row class="no-gutters">
                        <div class="col-auto">
                            <div class="primary fill-height">&nbsp;</div>
                        </div>
                        <div class="col pa-3 py-4 primary--text">
                            <h5 class="text-truncate text-uppercase">Ultimos Tres (3)Clientes Registrados</h5>
                            <v-card-text v-for="client in clients" :key="client.id">
                                <h3 v-text="client.name"></h3>
                            </v-card-text>
                        </div>
                    </v-row>
                </v-card>
            </v-col>
            <v-col lg="4" cols="sm" class="pb-2">
                <v-card>
                    <v-row class="no-gutters">
                        <div class="col-auto">
                            <div class="success fill-height">&nbsp;</div>
                        </div>
                        <div class="col pa-3 py-4 success--text">
                            <h5 class="text-truncate text-uppercase">Total Clientes Registrados</h5>
                            <h1 v-text="countClients"></h1>
                        </div>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card class="mx-auto text-center">
                    <v-card-title class="primary--text">
                        Cobros
                    </v-card-title>
                    <v-sparkline
                        :value="values"
                        :labels="labels"
                        padding="18"
                        label-size="4"
                        color="cyan"
                        :gradient="['#007bff','cyan']"
                        :line-width="2"
                        :stroke-linecap="'round'">
                    </v-sparkline>
                </v-card>
            </v-col>
        </v-row>
    </div>

</template>
<script>
    import { mapState} from 'vuex';
    export default {
        data() {
            return{
                user:{},
                name: '',
                email: '',
                count: '',
                price: {},
                prices: [],
                total: [],
                days: [],
                countClients:0,
                clients:0,
            }
        },
        computed:{
            values() {
                return Object.values(this.total);
            },
            labels() {
                return Object.keys(this.days);
            },
            currentUser() {
                return this.$store.getters.currentUser
            },
        },
        methods: {

            check(){
                var user = this.currentUser
                if (user.role!= 3) {
                    this.$router.push({name: 'agent-home'})
                }
            },
            index(){
                let me = this
                me.getPrices()
                me.getSales()
                me.getClient()

            },
            getPrices(){
                let me = this;
                axios
                    .get('/api/prices')
                    .then(response => {
                        var prices2 = response.data.prices;
                        me.prices = prices2.map(function(p) {
                            if (!p.currency) {
                                p.currency= {'iso': p.notes + '. Editar moneda y asignar ISO'};
                            }
                            return p;
                        });
                });
            },
            getSales(){
                let me = this
                axios.get('/api/sales/count')
                .then(response => {
                    var res = response.data
                    me.count = res.count;
                    // me.total = Object.values( response.data.total);
                    me.total = res.total;
                    me.days = res.days;

                });
            },
            getClient(){
                let me = this
                axios.get('/api/clients/count')
                    .then(response => {
                        var res = response.data
                        me.clients = res.clients
                        me.countClients = res.countClients

                    })
            }
        },
        mounted() {
            if(localStorage.user) this.user = JSON.parse(localStorage.user);
            this.check();
            this.index()
        },

    }
</script>
