<template>
    <v-app id="inspire">
        <v-row class="mx-1"
        align="center"
        justify="space-around"
        >
            <v-col cols="12" md="5">
                <div class="card card-default">
                    <div class="card-header"><h5>Bienvenid@ a CoinTrato</h5></div>
                    <div class="card-body">
                        <h5>Portal de gestión de Transacciones de CoinTrato</h5>
                    </div>
                    <div class="card-footer">
                        <h3 class="" > Precio BitCoin al momento: </h3>
                        <v-row>
                            <div class="pa-4" cols="12" md="6" v-for="p in prices" :key="p.id">
                                <h3 style="color: darkgoldenrod"  v-text="' ' +p.iso+ ' ' + p.calc_format + ' ' + p.symbol"></h3>
                            </div>
                        </v-row>
                        <v-row>
                          <div class="pa-4 col-12">
                            <span class="h3">Cuentas Actualizadas</span>
                            <a class="h3" href="https://cointrato.com/cuentas.pdf" target="_blank">cointrato.com/cuentas.pdf</a>
                          </div>
                        </v-row>
                    </div>
                </div>
                <v-row v-if="currentUser">
                    <v-col lg="6" cols="sm" class="pb-2">
                        <v-card>
                            <v-row class="no-gutters">
                                <div class="col-1">
                                    <div class="cyan darken-2 fill-height">&nbsp;</div>
                                </div>
                                <div class="col-11 pa-2 py-3 cyan--text darken-2">
                                    <h5 class="text-truncate text-uppercase">Cantidad de Pagos ultimos 7 dias.</h5>
                                    <h1 v-text="count"></h1>
                                </div>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" md="7">
                <agent-terms ref="AgentTerms"></agent-terms>
            </v-col>
        </v-row>
    </v-app>
</template>
<script>
    import AgentTerms from './vue-helpers/AgentTerms.vue';
    import { mapState} from 'vuex';
    export default {
        components:{
            AgentTerms
        },
        data() {
            return{
                user:{},
                name: '',
                email: '',
                count:'',
                price: {},
                prices: [],
                total: [],
                days: [],
            }
        },
        computed:{
          currentUser() {
                return this.$store.getters.currentUser;
            },
        },
        methods: {
            getPrices(){
                let me = this;
                me.user = me.currentUser;
                axios.get('/api/price/get')
                    .then(response => {
                        var prices2 = response.data.prices;
                        me.prices = prices2.map(function(p) {
                            if (!p.currency) {
                                p.currency= {'iso': p.notes + '. Editar moneda y asignar ISO'};
                            }
                            return p;
                        });
                    });
            },
            getSales(){
                let me = this
                axios.get('/api/pays/agent-count/'+me.currentUser.agent_id)
                .then(response => {
                    var res = response.data
                    me.count = res.count;
                    // me.total = Object.values( response.data.total);
                    me.total = res.total
                    me.days = res.days

                });
            },
            getUser(){
                if (this.currentUser) {
                    let me = this;
                    axios.get('/api/auth/me')
                        .then(response => {
                            me.user = response.data;
                    });
                }
            }
        },
        mounted() {
            this.getPrices();
            this.getSales();
        },

    }
</script>
