<template>
  <v-app id="inspire">
    <v-row class="mx-1"
        align="center"
        justify="space-around"
    >
      <v-col cols="12" md="5">
        <v-card class="elevation-12">
            <v-toolbar
            color="primary" dark
            >
            <v-toolbar-title>Sign In - CoinTrato</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
            <form submit.prevent="authenticate">
                <v-text-field v-model="form.email"
                label="Ingrese Email" name="email"
                prepend-icon="person" type="email"
                />

                <v-text-field  v-model="form.password"
                id="password" label="Password"
                name="password" prepend-icon="lock"
                type="password"
                />
            </form>
            <span style="color:red;" v-show="error" v-text="error"></span>
            </v-card-text>
            <v-card-actions>
            <v-spacer />
            <v-btn :loading="loader" @click="authenticate()" color="primary">Login</v-btn>
            </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" md="7">
        <agent-terms ref="AgentTerms"></agent-terms>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
  import AgentTerms from './vue-helpers/AgentTerms.vue';
  import {login} from '../helpers/auth.js';

  export default {
    components:{
        AgentTerms
    },
    props: {
      source: String,
    },
    data:()=> ({
      drawer: null,
      loader:false,
      error: '',
      form: new Form({
        email: '',
        password: '',
      }),
      user: {},
    }),
    computed:{
      currentUser() {
        return this.$store.getters.currentUser;
      },

    },
    methods: {
      authenticate(){
        let me  = this;
        me.loader = true;
        me.$store.dispatch("login");
        login(me.$data.form)
        .then((res)=>{
          me.$store.commit('loginSuccess',res);
          const role = me.currentUser.role
          if (role==1) {
              me.$router.push({name: 'agent-home'})
          } else if (role==3) {
                me.$router.push({name: 'admin-home'})
          }
        })
        .catch((rej)=>{
          me.error = rej.error;
        })
        me.loader = false
      },
      me(){
        axios.get('/api/auth/me')
        .then((response) =>{
          this.user = response.data.user;
        }).catch((error) => {
          console.log(error.error);
        })
      }
    }
  }
</script>
