<template>
  <v-app id="inspire">
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp"
      app color="blue darken-3" dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="currentUser != null"/>
      <router-link :to="{name: 'home'}" >
          <v-toolbar-title class="white--text title-header display-1"
          > CoinTrato
          </v-toolbar-title>
      </router-link>

      <v-avatar class="ml-3">
        <v-img :src="'../img/logo.png'" ></v-img>

      </v-avatar>
      <v-spacer />
      <!-- <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn> -->
      <!-- <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn> -->
      <v-tooltip bottom v-if="currentUser != null">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" fixed right dark
            v-bind="attrs"  v-on="on" @click="logout"
          >
            <v-icon color="white darken-1"> mdi-exit-to-app</v-icon>
          </v-btn>
        </template>
        <span>Salir de CoinTrato</span>
      </v-tooltip>

      <div v-else>

        <div v-if="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm">
            <v-menu bottom left>
                <template v-slot:activator="{ on, attrs }">
                <v-btn  dark icon
                    v-bind="attrs" v-on="on"
                >
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
                </template>

                <v-list>
                    <v-list-item  v-show="urlCheck !='home'" :to="{name:'home'}" >
                         <v-list-item-title>
                            Home
                            <v-list-item-action>
                                <v-icon right> mdi-home</v-icon>
                            </v-list-item-action>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item v-show="urlCheck !='register'" :to="{name:'register'}" >
                        <v-list-item-title >
                        Regístrarse
                        <v-list-item-action>
                            <v-icon right dark> mdi-account</v-icon>
                        </v-list-item-action>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item  v-show="urlCheck !='login'" :to="{name:'login'}" >
                         <v-list-item-title>
                            Login
                            <v-list-item-action>
                                <v-icon right> mdi-account-check</v-icon>
                            </v-list-item-action>
                        </v-list-item-title>
                    </v-list-item>

                </v-list>
          </v-menu>
        </div>
        <div v-else>
            <v-btn v-show="urlCheck !='register'" :to="{name:'register'}" text
            color="white" class="ma-2 white--text"
            >Registrarse
                <v-icon right dark> mdi-account</v-icon>
            </v-btn>
            <v-btn  v-show="urlCheck !='login'" :to="{name:'login'}" text
            color="white" class="ma-2"
            >Login
                <v-icon right> mdi-account-check</v-icon>
            </v-btn>
        </div>

      </div>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app v-if="currentUser != null"
    >
      <v-list dense >
        <div v-if="currentUser.role==2">

            <template  v-for="item in items">
            <v-row v-if="item.heading"
                :key="item.heading" align="center"
            >
            </v-row>
            <v-list-item v-else :key="item.text"
                link :to="{name:item.to}"
            >
                <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>
                    {{ item.text }}
                </v-list-item-title>
                </v-list-item-content>

            </v-list-item>
            </template>
        </div>
        <div v-if="currentUser.role==1" >
            <template v-for="item in items2">

                <v-row
                    v-if="item.heading"
                    :key="item.heading"
                    align="center"
                >

                </v-row>
                <v-list-item
                    v-else
                    :key="item.text"
                    link
                    :to="{name:item.to}"

                >
                    <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                    <v-list-item-title>
                        {{ item.text }}
                    </v-list-item-title>
                    </v-list-item-content>

                </v-list-item>
            </template>
        </div>
        <div v-if="currentUser.role==3">
            <template v-for="item in items3">

                <v-row
                v-if="item.heading"
                :key="item.heading"
                align="center"
                >

                </v-row>
                <v-list-item
                v-else
                :key="item.text"
                link
                :to="{name:item.to}"

                >
                <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                    {{ item.text }}
                    </v-list-item-title>
                </v-list-item-content>

                </v-list-item>
            </template>
        </div>

      </v-list>
    </v-navigation-drawer>

    <v-content grid-list-xs>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import { mapState} from 'vuex';
import {setAutorization} from '../helpers/general';
  export default {
    name: 'main-app',
    props: {
      loading: Boolean,
      source: String,
    },
    data: () => ({
      dialog: false,
      drawer: true,
      items: [
        { to: 'home', icon: 'mdi-home', text: 'Home', },
        { to: 'pay', icon: 'mdi-account-multiple', text: 'Pagos' },
        { to: 'profile', icon: 'mdi-account', text: 'Datos Perfil' },
      ],
      items2: [
        { to: 'agent-home', icon: 'mdi-home', text: 'Home', },
        { to: 'pay', icon: 'mdi-wallet', text: 'Pagos' },
        { to: 'clients-agent', icon: 'mdi-account-multiple', text: 'Clientes' },
        { to: 'agent-profile', icon: 'mdi-account', text: 'Datos Perfil' },
      ],
      items3: [
        { to: 'admin-home', icon: 'mdi-home', text: 'Home', },
        { to: 'agents', icon: 'mdi-briefcase', text: 'Lista Agentes',},
        { to: 'agent-updates', icon: 'mdi-clock', text: 'Historial Agentes',},
        { to: 'clients', icon: 'mdi-account-multiple', text: 'Clientes' },
        { to: 'balances', icon: 'mdi-scale-balance', text: 'Balance BTC' },
        { to: 'percent', icon: 'mdi-percent', text: 'Porcentaje BTC' },
        { to: 'prices', icon: 'mdi-cash', text: 'Precio BTC' },
        { to: 'banks', icon: 'mdi-bank', text: 'Bancos' },
        { to: 'sales', icon: 'mdi-wallet', text: 'Registro de Ventas' },
        { to: 'sales-history', icon: 'mdi-history', text: 'Historial de Ventas' },
      ],
    }),
    computed:{
      currentUser() {
           return this.$store.getters.currentUser
      },
      urlCheck(){
          return this.$route.name
      }
    },
    methods:{
      logout(){
        this.$store.commit('logout');
        this.$router.push({name:'login'});
      },

    }
  }
</script>
<style>
  .theme--light.v-application {
      background-image: linear-gradient(to left top, #2be005, #00d950, #00d174, #00c78c, #00bc9c, #00ada9, #009cae, #008baa, #0070a5, #00539c, #003388, #2f0369);
  }
  .container{
    width: 95%;
  }
  .v-subheader {
    font-size: 1.875rem;
    font-weight: bold;
    color: white !important;
  }

  .v-navigation-drawer {
    box-shadow: 0 0px 14px 10px rgba(0,0,0,.3), 0 7px 5px 0 rgba(0,0,0,.14), 0 4px 33px 0 rgba(0,0,0,.12);
  }
  .flex.xs12 {
    box-shadow: 0 0px 5px 2px rgba(0,0,0,.3), 0 4px 9px 0 rgba(0,0,0,.14), 0 4px 23px 0 rgba(0,0,0,.12);
  }
  .title-header {
    margin-left: 0;
    padding-left: 16px !important;
  }
  .v-application .blue.darken-3 {
    background-color: #1b387b!important;
  }
  .theme--light.v-label--is-disabled, .theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
      color: rgba(0,0,0,.67);
  }
  .v-toolbar__extension {
    padding: 0px !important;
  }

  .v-progress-linear {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }

    .v-card__subtitle, .v-card__text, .v-card__title {
        padding: 5px;
    }

    .v-data-table td, .v-data-table th {
        padding: 12px 8px;
    }

    .fixed {
        position: fixed;
    }

    .zindex-1{
        z-index: 1;
        width: 70%;
    }
    .mb-20 {
        margin-bottom: 20px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

</style>
