<template>
    <v-card class="elevation-12" tile shaped outlined>
        <v-card-title class="red--text">
            Terminos y Condiciones Actualizados
        </v-card-title>
        <v-card-text>
            <v-timeline align-top dense >
                <v-timeline-item
                v-for="message in messages"
                :key="message.time"
                :color="message.color"
                small
                >
                <div>
                    <!-- <div class="font-weight-normal">
                        <strong>{{ message.from }}</strong>
                    </div> -->
                    <div v-html="message.html"></div>
                </div>
                </v-timeline-item>
            </v-timeline>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: 'agent-terms',
        data(){
            return{
                 messages: [
                    {
                        from: 'Admin',
                        html: `Tened <strong>mucho cuidado</strong> sobretodo con <strong> clientes nuevos</strong>, o sospechosos, es mejor abstenerse o cerciorarse al 100% de quién tiene buenas intenciones, y quién no. Siempre es mejor dudar. <strong> “Duda y acertarás”.</strong>`,
                        //   time: '10:42am',
                        color: 'red darken-4',
                    },
                    {
                        from: 'Admin',
                        html: 'Todo ingreso superior a <span style="color: red">400 €/día</span> por persona se requerirá información adicional, por temas de seguridad',
                        //   time: '10:37am',
                        color: 'green',
                    },
                    {
                        from: 'Admin',
                        html: 'Ingresos o transferencias como <strong>máximo</strong> <span style="color: red">1000 €/mes</span> por persona, si se excede de esta cantidad, se pedirá información adicional acerca del origen lícito del dinero.',
                        //   time: '9:47am',
                        color: 'deep-purple lighten-1',
                    },
                    {
                        from: 'Admin',
                        html: 'Todo ésto es relacionada al cumplimento de la <i><strong>  Ley 10/2010, de 28 de abril, de prevención del blanqueo de capitales y de la financiación del terrorismo. </strong></i>',
                        //   time: '9:47am',
                        color: 'deep-purple darken-4',
                    },
                    {
                        from: 'Admin',
                        html: '<i> Es indispensable una correcta cumplimentación de los datos de los remitentes,  <strong>  para evitar retrasos en los pagos,</strong> no adivine, es mejor preguntar, cerciorarse a perder más tiempo y trabajar doble.</i>',
                        color: 'blue darken-4',
                    },
                ],
            }
        }
    }
</script>
