<template>
  <v-layout row wrap mx-2>
    <v-flex xs12 left>
      <v-subheader>Clientes Registrados</v-subheader>
    </v-flex>

    <v-flex xs12>
      <alerts ref="Alerts"></alerts>
      <v-data-table
        :headers="headers"
        :search="search"
        :items="clients"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Busque Su venda por cualquier parametro"
              single-line
              hide-details
            ></v-text-field>
            <v-divider class="mx-6" inset vertical></v-divider>
            <v-spacer />
            <router-link :to="{ name: 'create-client-admin' }">
              <v-btn bottom color="pink" dark right>
                Nuevo Cliente
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </router-link>
            <v-dialog v-model="dialog" class max-width="80%">
              <v-card>
                <v-card-title>
                  <span class="headline" v-text="dialog_title"></span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="client.name"
                          :readonly="read"
                          label="Nombre 'Solo nombres'"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="client.last_name"
                          :readonly="read"
                          label="Apellidos"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          readonly
                          v-model="client.type_id"
                          v-if="read"
                          label="Tipo de documento"
                        ></v-text-field>
                        <v-select
                          v-else
                          :items="types"
                          label="Tipo de Documento"
                          v-model="client.type_id"
                          item-text="type"
                          item-value="type"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Nro de Documento DNI/NIF/..."
                          v-model="client.dni"
                          :readonly="read"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          type="date"
                          v-model="client.expiration_date_dni"
                          :readonly="read"
                          label="Fecha de Vecimiento dni"
                        ></v-text-field>
                      </v-col>
                      <v-autocomplete
                        clearable
                        v-model="client.nation_id"
                        :items="countries"
                        item-text="name"
                        item-value="id"
                        prepend-icon="mdi-map"
                        label="Buscar pais de Nacimiento"
                      ></v-autocomplete>
                      <v-autocomplete
                        clearable
                        v-model="client.country_id"
                        :items="countries"
                        item-text="name"
                        item-value="id"
                        prepend-icon="mdi-home-map-marker"
                        label="Seleccione Pais de Residencia"
                      ></v-autocomplete>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="client.phone"
                          :readonly="read"
                          label="Agregar telefono sin el Codigo de pais '+34, +58'"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          type="date"
                          v-model="client.birthdate"
                          :readonly="read"
                          label="Fecha de Nacimiento"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          type="email"
                          v-model="client.email"
                          :readonly="read"
                          label="Email"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          type="text"
                          v-model="client.agent_username"
                          readonly
                          label="Usuario que lo agrego"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-textarea
                          v-model="client.notes"
                          rows="1"
                          auto-grow
                          filled
                          :readonly="read"
                          color="deep-purple"
                          label="Informacion del cliente"
                          prepend-icon="mdi-account-card-details-outline"
                        ></v-textarea>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-textarea
                          v-model="client.address"
                          rows="1"
                          auto-grow
                          filled
                          :readonly="read"
                          color="deep-purple"
                          label="Direccion corta del cliente"
                          prepend-icon="mdi-account-card-details-outline"
                        ></v-textarea>
                      </v-col>
                    </v-row>
                    <v-row v-if="read">
                      <v-btn
                        right
                        m-1
                        color="primary"
                        v-if="client.id_f"
                        v-show="read == true"
                        @click="showImage(client.id_f)"
                      >
                        Ver dni Frontal
                        <v-icon ml="2">mdi-camera</v-icon>
                      </v-btn>

                      <v-btn
                        right
                        m-1
                        color="primary"
                        v-if="client.id_b"
                        v-show="read == true"
                        @click="showImage(client.id_b)"
                      >
                        Ver Posterior
                        <v-icon ml="2">mdi-camera</v-icon>
                      </v-btn>

                      <v-btn
                        right
                        m-1
                        color="primary"
                        v-if="client.term_selfie"
                        v-show="read == true"
                        @click="showImage(client.term_selfie)"
                      >
                        Ver Selfie de terminos
                        <v-icon ml="2">mdi-camera</v-icon>
                      </v-btn>

                      <v-btn
                        right
                        m-1
                        color="primary"
                        v-if="client.auth_image"
                        v-show="read == true"
                        @click="showImage(client.auth_image)"
                      >
                        Ver Terminos Aceptados
                        <v-icon ml="2">mdi-camera</v-icon>
                      </v-btn>
                    </v-row>
                    <v-row v-else>
                      <v-col cols="12" md="6">
                        <span
                          v-text="
                            id_f
                              ? 'Cambiar Imagen'
                              : 'Guardar Una Imagen'
                          "
                        ></span>
                        <v-file-input
                          v-model="id_f"
                          placeholder="Cargar Foto Frontal"
                          label="Foto 1 Dni / Pasaporte / Nie / Licencia de conducir"
                          show-size
                          append-icon="mdi-camera"
                        >
                          <template v-slot:selection="{ text }">
                            <v-chip small label color="primary">{{
                              text
                            }}</v-chip>
                          </template>
                        </v-file-input>
                      </v-col>
                      <v-col cols="12" md="6">
                        <span
                          v-text="
                            id_b
                              ? 'Cambiar Imagen'
                              : 'Guardar Una Imagen'
                          "
                        ></span>
                        <v-file-input
                          v-model="id_b"
                          placeholder="Cargar Foto Posterior"
                          label="Foto 2 Dni / Pasaporte / id / Nie / Licencia de conducir"
                          show-size
                          append-icon="mdi-camera"
                        >
                          <template v-slot:selection="{ text }">
                            <v-chip small label color="primary">{{
                              text
                            }}</v-chip>
                          </template>
                        </v-file-input>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-file-input
                          v-model="auth_image"
                          placeholder="Foto de Aceptar Terminos."
                          label="Foto de terminos Aceptados Junto con Identificacion Usada"
                          show-size
                          append-icon="mdi-camera"
                        >
                          <template v-slot:selection="{ text }">
                            <v-chip small label color="primary">{{
                              text
                            }}</v-chip>
                          </template>
                        </v-file-input>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-file-input
                          v-model="term_selfie"
                          placeholder="Foto Selfie con Documentos"
                          label="Foto Selfie con documentos de Identificacion y terminos aceptados."
                          show-size
                          append-icon="mdi-camera"
                        >
                          <template v-slot:selection="{ text }">
                            <v-chip small label color="primary">{{
                              text
                            }}</v-chip>
                          </template>
                        </v-file-input>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-btn text @click="closeDialog()">Cerrar</v-btn>

                  <v-spacer />
                  <v-btn
                    v-if="read"
                    color="blue darken-1 white--text"
                    @click="editItem(client)"
                    >Editar</v-btn
                  >
                  <v-btn
                    color="blue darken-1 white--text"
                    v-else
                    :loading="saving"
                    @click="updateClient()"
                    >Actualizar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.sms_verified_at="{ item }">
          <div v-if="item.sms_verified_at" v-text="item.sms_verified_at"></div>
          <div v-else>No Verificado</div>
        </template>
        <template v-slot:item.images="{ item }">
          <v-btn
            @click="showDialog(item)"
            x-small
            color="primary darken-3"
            class="ma-1 white--text"
          >
            Ver Cliente
            <v-icon small right dark>mdi-eye</v-icon>
          </v-btn>
          <v-btn
            @click="showImage(item.id_f)"
            v-if="item.id_f"
            x-small
            color="yellow darken-3"
            class="ma-1 white--text"
          >
            Foto Forntal
            <v-icon small right dark>mdi-camera</v-icon>
          </v-btn>
          <v-btn
            @click="showImage(item.id_b)"
            v-if="item.id_b"
            x-small
            color="yellow darken-3"
            class="ma-1 white--text"
          >
            Foto Posterior
            <v-icon small right dark>mdi-camera</v-icon>
          </v-btn>
        </template>
        <template v-slot:item.approved="{ item }">
          <v-btn
            @click="approveClient(item)"
            v-if="item.approved == 2"
            x-small
            color="yellow darken-3"
            class="ma-1 white--text"
          >
            Desaprobar
            <v-icon small right dark>mdi-account-cancel</v-icon>
          </v-btn>
          <v-btn
            @click="approveClient(item)"
            v-else
            x-small
            color="green darken-2"
            class="ma-1 white--text"
          >
            Aprobar
            <v-icon small right dark>mdi-account-check-outline</v-icon>
          </v-btn>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon medium class="mr-2" @click="editItem(item)"
            >mdi-pencil</v-icon
          >
          <v-icon
            v-if="item.active == 1"
            medium
            @click="desactiveClient(item.id)"
            >mdi-eye-off</v-icon
          >
          <v-icon
            v-if="item.active == 0 || item.active == null"
            medium
            @click="activeClient(item.id)"
            >mdi-eye-check</v-icon
          >
          <v-icon medium @click="deleteClient(item.id)"
            >mdi-close-outline</v-icon
          >
        </template>
      </v-data-table>
    </v-flex>

    <v-flex xs12>
      <v-dialog v-model="dialog3" class max-width="70%">
        <v-card>
          <v-card-title>
            <span class="headline">Imagen Cargada</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-img :src="`${img}`" class="img-responsive" contain />
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog3 = false"
              >Cerrar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
import fire from "../../helpers/swalfire.js";
export default {
  data() {
    return {
      search: "",
      clients: [],
      client: {},
      countries: [],
      agent: {},
      img: "",
      id_f: "",
      id_b: "",
      auth_image: "",
      term_selfie: "",
      dialog: false,
      dialog2: false,
      dialog3: false,
      dialog_title: "",
      read: true,
      turn: 0,
      saving: false,
      eClient: 0,
      errListC: [],
      headers: [
        {
          text: "id",
          align: "right",
          value: "id"
        },
        {
          text: "Nombre compl",
          align: "right",
          value: "full_name"
        },
        {
          text: "Tel",
          align: "right",
          value: "phone"
        },
        {
          text: "Acumulado",
          align: "right",
          value: "accumulated"
        },
        {
          text: "Telefono verif",
          align: "right",
          value: "sms_verified_at"
        },
        {
          text: "Imagenes",
          align: "center",
          value: "images",
          sortable: false
        },
        {
          text: "Fecha de Registro",
          align: "right",
          value: "created_at"
        },
        { text: "Aprobar/No", value: "approved", sortable: true },
        { text: "Opciones", value: "actions", sortable: false }
      ],
      types: [
        { type: "DNI" },
        { type: "NIE" },
        { type: "NIF" },
        { type: "Pasaporte" },
        { type: "Id o Cedula de Pais de Origen" }
      ]
    };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  methods: {
    index() {
      let me = this;
      me.axios.get("/api/clients").then(response => {
        me.clients = response.data.clients;
      });
    },
    getCountries() {
      let me = this;
      me.axios.get("/api/countries").then(response => {
        me.countries = response.data.countries;
      });
    },
    closeDialog() {
      let me = this;
      me.client = {};
      me.dialog_title = "Detalle de Cliente";
      me.dialog = false;
      me.read = true;
      me.id_f = '';
      me.id_b = '';
      me.term_selfie = '';
      me.auth_image = '';
    },
    showDialog(item) {
      let me = this;
      me.read = true;
      me.client = item;
      console.log(me.client);
      me.dialog_title = "Detalle de Cliente";
      me.dialog = true;
    },
    showImage(img) {
      let me = this;
      me.img = "";
      me.img = img;
      me.dialog3 = true;
    },
    desactiveClient(id) {
      Swal.fire({
        title: "Esta seguro de inactivar al Cliente?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#1565c0",
        cancelButtonColor: "##0000008a",
        confirmButtonText: "Aceptar!",
        cancelButtonText: "Cancelar",
        confirmButtonClass: "btn btn-success",
        cancelButtonClass: "btn btn-danger",
        buttonsStyling: false,
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          let me = this;
          console.log(id);
          axios
            .post("/api/clients/desactive", {
              id: id,
              _method: "put"
            })
            .then(function(response) {
              me.index();
              Swal.fire(
                "Anulado!",
                "Cliente desactivado con éxito.",
                "success"
              );
            })
            .catch(function(error) {
              console.log(error);
              Swal.fire("Fallo!", "NO se ha podido anular.", "warnig");
            });
        } else if (result.dismiss === swal.DismissReason.cancel) {
        }
        me.dialog = false;
      });
    },
    activeClient(id) {
      let me = this;
      const data = {
        url: "/api/clients/activate/" + id,
        title: "Activar el Cliente ?"
      };
      fire
        .activeF(data)
        .then(res => {
          me.index();
          me.alert(1, res);
        })
        .catch(error => {
          me.alert(4, error);
        });
      me.dialog = false;
    },
    approveClient(client) {
      let me = this;
      if (client.approved == 2) {
        var title = "Desaprobar Cliente?";
      } else {
        var title = "Aprobar Cliente?";
      }
      const data = {
        url: "/api/clients/approve/" + client.id,
        title: title
      };
      fire
        .activeF(data)
        .then(res => {
          me.index();
          me.alert(1, res);
        })
        .catch(error => {
          me.alert(4, error);
        });
    },
    editItem(item) {
      let me = this;

      me.getCountries();

      me.turn = 2;
      me.dialog_title = "Actualizar cliente";
      me.client = item;
      me.read = false;
      me.dialog = true;
    },
    data() {
      let me = this;
      let data = new FormData();
      if (me.id_f != "") {
        data.append("id_f", me.id_f);
        console.log('test');
      }
      
      if (me.id_b) {
        data.append("id_b", me.id_b);
      }
      console.log(me.id_b);
      if (me.term_selfie) {
        data.append("term_selfie", me.term_selfie);
      }
      if (me.auth_image) {
        data.append("auth_image", me.auth_image);
      }
      if (me.client.notes) {
        data.append("notes", me.client.notes);
      }
      if (me.client.birthdate) {
        data.append("birthdate", me.client.birthdate);
      }
      if (me.client.phone) {
        data.append("phone", me.client.phone);
      }

      if (me.client.dni) {
        data.append("dni", me.client.dni);
      }
      if (me.client.type_id) {
        data.append("type_id", me.client.type_id);
      }
      if (me.client.expiration_date_dni) {
        data.append("expiration_date_dni", me.client.expiration_date_dni);
      }

      if (me.client.address) {
        data.append("address", me.client.address);
      }
      if (me.client.gender) {
        data.append("gender", me.client.gender);
      }

      if (me.client.country_id) {
        data.append("country_id", me.client.country_id);
      }
      if (me.client.nation_id) {
        data.append("nation_id", me.client.nation_id);
      }

      if (me.client.email) {
        data.append("email", me.client.email);
      }
      data.append("name", me.client.name);
      data.append("last_name", me.client.last_name);
      data.append("_method", "put");
      return data;
    },
    updateClient() {
      let me = this;
      if (me.validateClient()) {
        return;
      }
      me.saving = true;
      const data = me.data();
      console.log(data);
      const config = {
        headers: { "content-type": "multipart/form-data" }
      };
      axios
        .post(`/api/clients/update/${me.client.id}`, data)
        .then(response => {
          me.index();
          me.closeDialog();
          Swal.fire({
            position: "top-end",
            icon: "success",
            title: `${response.data.message}`,
            timer: 3000
          });
        })
        .catch(error => console.log(error))
        .finally(() => ((me.saving = false), (me.read = true)));
    },
    validateClient() {
      let me = this;
      me.eClient = 0;
      me.errListC = [];

      if (!me.client.name)
        me.errListC.push("Por favor ingrese Nombres 'Solo Nombres'");

      if (!me.client.last_name)
        me.errListC.push("Por favor ingrese Apellido/s");

      if (!me.client.dni)
        me.errListC.push("Por favor ingrese una identificacion Valida!.");
      if (!me.client.phone)
        me.errListC.push("Ingrese un numero telefonico valido");
      if (!me.client.email) me.errListC.push("Ingrese un email valido");
      // if (!me.client.id_b)me.errListC.push("Por favor ingrese una contraseña");
      // if (!me.client.id_f)me.errListC.push("Por favor cargue una Foto DNI/PASAPORTE/NIE");

      // if (!me.client.auth_image)me.errListC.push("Por favor cargue una Foto de los Terminos y Condiciones Aceptados y Firmados");

      // if (!me.client.term_selfie)me.errListC.push("Por favor cargue una Foto Selfie con la Hoja de Terminos aceptados, Firmada.");

      if (me.email)
        me.errListC.push("E-mail Registrado, por favor introduzca otro");
      if (me.phone)
        me.errListC.push("Telefono registrado, por favor introduzca otro");
      if (me.dni)
        me.errListC.push(
          "Documento registrado, verifique si el Cliente esta registrado Cuando realize un Pago."
        );
      if (me.errListC.length) me.eClient = 1;
      if (me.errListC.length >= 1) {
        Swal.fire({
          title: "Falta(n) Datos",
          icon: "error",
          confirmButtonText: "Aceptar!",
          confirmButtonColor: "#3085d6",
          html: `${me.errListC.map(
            er =>
              `<br><span style="color:red;" class="mb-3"><i class="mdi mdi-minus-circle-outline mdi-spin mr-3"></i> ${er}</span>`
          )}`,
          showCancelButton: false
        });
      }
      return me.eClient;
    },
    deleteClient(id) {
      let me = this;
      const data = {
        url: "/api/clients/destroy/" + id,
        title: "Elimiar Cliente ?"
      };
      fire
        .deleteF(data)
        .then(res => {
          me.index();
          me.alert(3, res);
        })
        .catch(error => {
          me.alert(4, error);
        });
      me.dialog = false;
    },
    alert: function(display, res) {
      this.$refs.Alerts.showAlert(display, res);
    }
  },
  mounted() {
    this.index();
  }
};
</script>
